[2022-03-21 02:01] djhoese commented on #2059
If I plot the cos(SZA) before it is linearly scaled in the DayNightCompositor I get:

![coszen](https://user-images.githubusercontent.com/1828519/159196550-7f261bd6-b78c-44b7-bb1c-d244a6a1fb48.png)

If I then let it be scaled based on your limits (90 and 100 degrees) I get:

![clipped_coszen](https://user-images.githubusercontent.com/1828519/159196590-b1d6ab64-670e-43cc-b91e-2d0815a413de.png)

Thi

[2022-03-21 14:28] djhoese commented on #2059
Ok, I figured it out. At least I think I did. The alpha bands reaches the final `save_dataset` step and performs the default dynamic linear stretch. Put simply, this enhancement will take the min and max of the data and normalize the data based on those limits to 0-1. For the 19:30 (good) case, the Alpha channel has some less than 1 values (partial transparent) so there is a min and a max and the

[2022-03-21 17:10] gerritholl opened #2066 "RGBs should never have units, but some do"
**Describe the bug**

When loading the snow_age RGB with the viirs_sdr reader, the resulting RGB has the attribute `calibration` set to `reflectance` and the attribute `units` set to `%`.  This is incorrect.

It also leads to a failure in the ninjotiff writer, which unsuccessfully attempts a unit conversion, resulting in a NotImplementedError.

**To Reproduce**

This code checks the value for cali

[2022-03-21 17:19] gerritholl commented on #2066
I thought I had discussed this before, but couldn't find a corresponding issue, so maybe it was only in slack.  I apologise if this is a duplicate for an issue I couldn't find right now.

[2022-03-21 18:39] djhoese commented on #2066
So I'm a little torn on this, but only barely. The units and calibration metadata are retained because the input bands all have the same value so the `combine_metadata` utility function considers it useful or at least transferable to the new composite. I agree that it seems odd to have `units` for an RGB other than `1` (if we *had* to put some units on it).

The calibration is an interesting probl

[2022-03-21 18:49] djhoese commented on #1985
So where are we with this? I think based on the comments and hoping for some level of CF compliance the units `"1"` are valid units for any unitless quantity. I'm not sure if a normalized dataset is considered unitless. I think we've now agreed that the units for `hncc_dnb` are valid.

So if the main issue is that NinJo doesn't like it, is there a work around we can implement in the writer (as it

[2022-03-22 08:21] gerritholl commented on #2066
I don't feel strongly about `calibration` in RGBs, but units — including `units: 1` — is wrong for anything that is not a quantity.  The units attribute is used downstream by the ninjotiff writer, which (rightly, IMHO) assumes that if values have units associated with them, they can be converted to different units.  In the case of RGBs, this fails.  As for calibration, even if we would derive diff

[2022-03-22 09:12] gerritholl commented on #1985
The unit "1" is correct for a unitless quantity, but `adaptive_dnb` and `histogram_dnb` are not quantities.

The CF conventions do not define what a quantity is, but ISO 80000-1 does:

The `adaptive_dnb` and `histogram_dnb` composites apply different calculations in different parts of the image.  The resulting image is useful for visual interpretation, but like RGBs or enhanced images, the values

[2022-03-22 10:36] haiderabbas1989 opened #2069 "Read/Process MVIRI (MFG) native files"
Hi,

I have a large number of Meteosat First Generation data in native format, e.g., METEOSAT7-MVIRI-MTPCLDS-NA-1-20160131010110.000000000Z-20160131010110-4779480.nat

I have been struggling in reading and processing the files as the _satpy_ does not support a reader, nor does the EUMETSAT Data Tailor. Any suggestion/help is appreciated

Regards,

Haider

[2022-03-22 12:37] simonrp84 commented on #2069
Hi Haider, I have worked with this data but not recently. I will take a look and see if I have any suitable python code and get back to you in a few days (not at the office just now, so can't access my code).

[2022-03-22 17:55] djhoese commented on #1985
Wow, thanks for all that information. That's good to know. I wouldn't be surprised if the CF conventions were written without "image data" in mind. I think I agree with you that the `units` can be removed. I'll have to double check how I handle missing units in the AWIPS tiled writer. We may also have to make sure we document in the `readers.rst` document that `units` is optional and may not make

[2022-03-22 19:56] djhoese commented on #2066
Just to clarify, the main failure is that it is trying to do this with a 3D image (RGB/A) and not a 2D image, right?

This is a good point. As it is right now any resulting metadata in a composite can be thought of as existing because all inputs had that piece of metadata with that exact value. But that doesn't mean it is accurate to the RGB and it causes complications when input metadata was not

[2022-03-23 13:36] ghiggi commented on #1386
@gerritholl @djhoese are there some advances in the generation of GLM gridded products with satpy, or I need to use glmtools?

[2022-03-23 13:39] gerritholl commented on #1386
The feature request here is not to replicate the functionality of glmtools, but rather to make the user experience smoother.  I have not thought it detail about this for a while, though.

[2022-03-23 14:56] ghiggi commented on #1386
Thanks for the info !

[2022-03-24 08:58] mraspaud commented on #2069
I suspect the format should be similar to the seviri native reader. @ameraner do you know?

[2022-03-24 09:27] ameraner commented on #2069
I suppose this too, but one would probably need the exact definition of the header and data contents (sizes, types, etc.) to be able to set up the reader... Unfortunately in our group we don't have any experience with this. I tried to look around, but the only proper documents I could find are on the reprocessed Fiduceo FCDR dataset (for which we have already a reader, `mviri_l1b_fiduceo_nc`), but

[2022-03-24 12:42] #1975 closed

[2022-03-24 17:52] haiderabbas1989 commented on #2069
@ameraner I have already sent an email to ops@eumetsat.int, before posting this issue here. The replied posting that no information is available on this query and will get back soon. I'm not sure if they can also help me with this.
@gerritholl the EUMETSAT Gitlab clearly states that MVIRI Native file processing is not supported by any code provided there.
@simonrp84 Simon, it would be wonderful wh

[2022-03-25 07:35] gersmit commented on #2062
Hi David, thanks but it will not work.
I do it now with Pillow, text works with that.

One other question:
A question over Satpy readers and Metop nat files satellite can i ask you that here or do i have to made a new issue?

[2022-03-25 08:31] mraspaud commented on #2062
Hi,
You can look in this table to see if that format is supported:
https://satpy.readthedocs.io/en/stable/#id1

[2022-03-25 08:48] gersmit commented on #2062
@mraspaud, thanks for the info, i have seen the list.
I get data from Eumetsat and For the seviri data i use reader = "seviri_l1b_native"
This is working fine.

This is the Metop  : MHSx_xxx_1B_M01_20220322032749Z_20220322050949Z_N_O_20220322050457Z.nat
This is the reader i wil use :  avhrr_l1b_eps

With the same python csript, i use for the seviri nat file, with Metop reader i get error:
MHSx_xxx

[2022-03-25 08:55] pnuu commented on #2062
Please create another issue for the Metop native reader, which we don't currently have. The reader you tried is for the EPS format available from Eumetcast. For more interactive discussion you might want to join our Slack: https://pytrollslackin.herokuapp.com/

[2022-03-25 08:59] gersmit commented on #2062
@pnuu that was also my question.
Thanks for the link, i go to use it.

[2022-03-25 09:07] #2062 closed

[2022-03-26 15:15] zebengberg opened #2072 "abi_l2_nc reader unable to read MCMIP mesoscale files"
**Describe the bug**

I'm unable to open MCMIP files for GOES mesoscale datasets with `Scene`.

**To Reproduce**

Here is a minimal example following the template from one of the [example notebooks](https://github.com/pytroll/pytroll-examples/blob/main/satpy/GOES-16%20Mosaic.ipynb).

[code]

**Actual results**

I get the following `ValueError`.

[code]

**Additional context**

Related to #1162.

I

[2022-03-30 09:39] gerritholl opened #2073 "Creating scene with SEVIRI HRIT reader fails with UnicodeDecodeError"
**Describe the bug**

Reading SEVIRI HRIT files fails with UnicodeDecodeError upon scene creation.

**To Reproduce**

[code]

**Expected behavior**

Success.

**Actual results**

[code]

**Environment Info:**
 - OS: openSUSE 15.3
 - Satpy Version: fails with latest main

**Additional context**

Fails with Satpy main.  Succeeds with Satpy 0.35.0.  git bisect suggests this bug was introduced in 78ef

[2022-03-30 09:46] mraspaud commented on #2073
@pdebuyl do you have an idea what is happening here?

[2022-03-30 09:48] gerritholl commented on #2073
It looks like a file is getting opened in text mode instead of binary mode.

[2022-03-30 09:49] pnuu commented on #2073
Looks like the indicated PR assumed `mode` kwarg were always passed explicitly. The `seviri_l1b_hrit` doesn't define it, thus `mode` doesn't exist. Adding the kwarg to `seviri_l1b_hrit.py` and `hrit_base.py` fixes the reader.

[2022-03-30 11:13] pdebuyl commented on #2073
I started with the `mode=rb` set in the context manager. I did test that it would work but might not have found all the cases with actual data (the mocks wouldn't cover it). I can fix it tomorrow.

[2022-03-30 12:30] #1702 closed

[2022-03-30 20:06] pdebuyl commented on #2073
Two solutions:
1. Add the default mode to the constructor of `generic_open`
[code]
2. Add the mode explicitly to the calls to `generic_open` in `hrit_base.py` and in `seviri_l1b_hrit.py`.

I don't know if you would have a preference beween those two solutions.

[2022-03-31 07:41] pdebuyl commented on #2073
I went with "explicit" to avoid bypassing the defaults of the regular `open` function.

[2022-03-31 17:03] djhoese commented on #2073
[code]

The `|` handling for dicts was only recently added, right? So maybe `kwargs.setdefault("mode", mode)` and then `self.open_kwargs = kwargs`?

[2022-03-31 17:14] djhoese commented on #2072
Thanks for filing the bug and coming up with a solution. Your suggested solution of replacing it with `:s` looks like the best option to me. It should also be applied to the C16 file pattern just above the MCMIP file pattern. What do you think about making a pull request?

[2022-03-31 21:30] pdebuyl commented on #2073
Hi @djhoese I did submit a PR with an explicit `mode=...` in the hrit readers instead. The `kwargs | {'mode': mode}` proposal made `rb` the default which is not the standard behavior of `open`, so I preferred to not use it.

[2022-04-01 01:23] djhoese commented on #2073
Sounds good. Thanks.

[2022-04-02 18:18] haiderabbas1989 commented on #2069
Hi Simon, have you been able to look for the code for these data files yet?

[2022-04-05 15:57] guidocioni opened #2082 "Some composite are produced with the wrong colors"
**Describe the bug**
I'm using SEVIRI L1.5 Rapid scan data.
When creating some of the composites the resulting data has wrong RGB channels data, resulting in the wrong image being produced.

**To Reproduce**

[code]

**Expected behavior**
The images produced by the two methods should coincide.

**Actual results**
Image obtained with matplotlib
![test_2](https://user-images.githubusercontent.com/12

[2022-04-05 16:00] djhoese commented on #2082
The RGB data needs to be "enhanced" before being plotted with matplotlib. See the mention of `get_enhanced_image` in the tutorial:

https://github.com/pytroll/tutorial-satpy-half-day/blob/644a0b9419c628c00f66a94064d7cb70f11b10d6/notebooks/05_composites.ipynb

[2022-04-05 16:16] guidocioni commented on #2082
yes, you're right! I didn't see that tutorial.
Now I get exactly the same image with the two methods.

![test_2](https://user-images.githubusercontent.com/12760310/161798890-557d8ed6-c4fe-484b-92f5-6623d69653aa.png)
![test](https://user-images.githubusercontent.com/12760310/161798939-1803c388-ec7d-46a5-827b-1a1b098e5485.png)

Any clue why cartopy does not draw some of the borders? it only happens

[2022-04-05 17:14] djhoese commented on #2082
Probably not a problem, but try renaming `scn = scn.resample(area)` to a new name like `new_scn = scn.resample(area)`. Then make sure you update the code below it to use that new variable. This is more of a best practice thing than fixing your specific problem.

Very odd with the coastlines. I'm not sure why it would not be able to do some of those. It is important to note that pycoast (the pytrol

[2022-04-05 17:15] djhoese commented on #2082
I'm going to close this issue as I think the main satpy stuff is figured out, but feel free to keep commenting here and we can continue the discussion/debugging.

[2022-04-05 17:15] #2082 closed

[2022-04-06 10:31] #2066 closed

[2022-04-07 14:41] #2073 closed

[2022-04-08 15:39] guidocioni commented on #2082
Hey @djhoese , thank you a lot for the support, the coastlines are definitely not `satpy` issue; as a matter of fact I've seen this problem popping up randomly in the past and I'm not sure where it's coming from.

Anyway I'm exploiting your kindness to do some additional debugging :)

I'm trying to write a processing script to operationally plot SEVIRI rapid scan native images. I'm using the EUMET

[2022-04-08 15:44] djhoese commented on #2082
You are already using the Scene.crop method so that should be fine. Instead of doing regular resampling you can do `Scene.resample(resampler='native')` for geostationary data and it should allow the composites to be generated without having to do the more expensive real resampling.

As long as you provide all the resolutions as input then Satpy should default to loading the highest resolution it c

[2022-04-08 15:53] guidocioni commented on #2082
I get a `ValueError: Expand factor must be a whole number` if I try to use that resampler.

Again, I'm just trying to do as little processing as possible and to plot the data as-is without resampling or interpolation, just with the geospatial metadata extracted from the native file.
Maybe the differences in the images are only due to the way `imshow` process the data; I don't know what is `Scene.s

[2022-04-08 16:03] djhoese commented on #2082
`Scene.show()` it using PIL (Pillow) .show() with a PNG version of the raw data array. It isn't doing any interpolation, but the pixels aren't interpolated or morphed to fit a particular size. What I mean by that is that your plot isn't the same size ratio as the original array so pixels are probably stretched vertically or horizontally.

What I suggested about the keyword arguments to the reader

[2022-04-08 16:48] guidocioni commented on #2082
Thanks I'll definitely try that!
Maybe if I don't need to put many overlays it would make more sense to use the show method and forget about plotting with cartopy..may be even more efficient

[2022-04-12 13:17] simonrp84 commented on #2069
Sorry, was away. Unfortunately we do not have any suitable code for this - our MFG reader is in fortran. I may try to convert it to python when I have time, but that will not be for many months.

[2022-04-12 13:57] haiderabbas1989 commented on #2069
If it's okay, then you can share the Fortran code. I've a team member who knows to work with Fortran.

[2022-04-13 09:26] #1954 closed

[2022-04-13 11:40] vojohn commented on #2069
HI Haider, we have code to read data but I wonder whether you may want to use the improved dataset from MVIRI? The details are available here: https://navigator.eumetsat.int/product/EO:EUM:DAT:0080

Feel free to contact me if you need more information.

Best regards, Viju

[2022-04-14 15:54] djhoese opened #2089 "MultiScene.group doesn't work for differing identifier properties"
**Describe the bug**
This issue was described on the mailing list. A user created a MultiScene with GOES-16, GOES-17, H8, and Meteosat data in each of the Scenes. They then did `mscn.group(...)`, resampled, blended, and did save_datasets on the resulting blended Scene. This blending didn't actually do anything because the DataIDs of the individual Scenes had different `resolution` parameters so th

[2022-04-14 16:07] zxdawn commented on #2089
@djhoese Unfortunately, that's not mine ;) It should be assigned to @sfinkens, see https://github.com/pytroll/satpy/pull/983

[2022-04-14 16:24] djhoese commented on #2089
Oops, sorry.

[2022-04-14 18:36] haiderabbas1989 commented on #2069
@vojohn
Hi Viju,
Thanks for replying to the issue. Shall we connect over LinkedIn or email, whatever suits you?

https://www.linkedin.com/in/haiderabbas1989/?lipi=urn%3Ali%3Apage%3Ad_flagship3_feed%3BfaGxTwr7SK%2BzyDS6IeLMPQ%3D%3D

email id: haiderabbas1989@gmail.com

Regards,
Haider

[2022-04-15 02:03] sgxl opened #2090 "HIMAWARI-8/AHI, scene can not load specific composite: "night_ir_with_background""
Hi, I am going to composite "night_ir_with_background" using HIMAWARI-8/AHI data, but some errors occrus. And I have tried it so many times, so I write a question here for help, thanks.

My code:
[code]

Erroe messages:
[code]

[2022-04-15 02:29] sgxl commented on #2090
To solve this problem, I read the config file: satpy/etc/composites/ahi.yaml, and the related composite is as followed:
[code]
so I tried the following code to try is any of the prerequisites can not be done?
[code]

All of the prerequisites can be loaded. But the “_night_background” got global data instead the extent of the scene:
![image](https://user-images.githubusercontent.com/10265098/163507

[2022-04-15 03:50] sgxl commented on #2090
@jon4than @lamby @mraspaud @adybbroe

[2022-04-15 06:25] simonrp84 commented on #2090
You need to resa ple the data before you save it, after loading the composite. Coarsest area won't work in this case so you'll need to specify the area of one of the bands.
Can't provide an example as am in my phone but if no one else provides one then I'll do so this evening.

[2022-04-15 08:36] mherbertson commented on #2090
What @simonrp84 said.

This will resample the `night_ir_alpha` dataset into the required projection and save in the resolution and extent of the `_night_background` dataset.

[code]

Create area definition:

[code]

The static background uses the depreciated `projection = '+init=EPSG:4326'` so we have to match it.
I'll try and do a PR for that down the track if required.

Resample dataset with are

[2022-04-15 09:57] sgxl commented on #2090
Thanks for your patient answer, @simonrp84 @mherbertson. I have tried the code, and it works.
Thanks a lot~

[2022-04-15 12:18] djhoese commented on #2090
Thanks for getting this figured out everyone. Before closing this, what do we think about me updating the Scene object to finest_area/coarsest_area ignore "hidden" products that start with a `_` when considering areas? This would allow the original code case to work with no extra work. It would not:

1. Use the global area that the final example/solution used.
2. Allow for `native` resampling whic

[2022-04-15 12:57] mherbertson commented on #2090
That would make sense and what users are expecting.

[2022-04-19 17:32] MattF-NSIDC opened #2092 "Satpy doesn't offer a way to close files, which causes issues on some filesystems"
**Describe the bug**
This is the same underlying issue as https://github.com/pytroll/satpy/issues/1889

Satpy `Scene`s do not offer a mechanism to manually close their open files when you're done interacting with a `Scene` object. This manifests issues on Windows, as noted by #1889, but also on Linux when using NFS to store the `Scene`'s files.

**To Reproduce**

* Clone https://bitbucket.org/nsid

[2022-04-19 18:03] djhoese commented on #2092
Thanks for making an entire repository for reproducibility. As for the issue, I'm not sure this is strictly possible, at least not in the way your example code wants it to work. I've pasted a stripped down version of your script below:

[code]

The main problem is that Satpy is using dask. When you create your Scene, the reader object under the hood may open some files for metadata, but in most ca

[2022-04-21 06:46] jinkooY opened #2093 "Multiscene blend does not work well."
**Describe the bug**
I want to stack (or merge) multiple satellite images. But when I tried Blend(), it only produced each satellite image, not a blended image.
![image](https://user-images.githubusercontent.com/79504720/164390643-b720eb5d-e716-4667-95a1-6c7e9cf5fcb4.png)

netcdf file can download from here : https://drive.google.com/drive/folders/1zp6EBVfjuh41LDRRZo4PJoeGGGn13AKy?usp=sharing

**T

[2022-04-21 07:27] #2093 closed

[2022-04-21 11:39] sfinkens commented on #2089
Good catch, I'll have a look during the PCW

[2022-04-21 12:12] djhoese commented on #2093
I see you closed this issue. If it was a mistake that you created it or you fixed the problem yourself then :+1:. If this is still a problem comment here and we can reopen the issue.

[2022-04-22 03:47] MattF-NSIDC commented on #2092
Hey, thanks so much for your response!

I think the thing that I didn't communicate clearly is that the workflow really looks like this. In my example repository I omitted the "processing" step for the sake of making a small and complete example. What we want to do is close all open file handles after we know we're done using them, but before deleting those files.

[code]

[2022-04-22 15:08] djhoese commented on #2092
I think this gives even more of an argument to some design discussions that the @pytroll/satpy-core maintainers have had in the past regarding separating the reader creation/data loading portion of the Scene from the rest of the Scene. It would make this workflow mirror what you would do with other file reading tools and the stdlib `open`. For example:

[code]

Or something similar. But this logic

[2022-04-25 15:40] MattF-NSIDC commented on #2092
@djhoese I would love to! However, I'm a fairly new satpy user and I'm not sure how much, if any, time `$DAY_JOB` will give me to work on this, so I may not move very fast. I'll post here once I have time to get started, or once I know more about my availability.

If someone else is motivated to do this work in the near term, please let me know how I can help out.

[2022-04-26 11:38] ninahakansson opened #2095 "Problem with merged composites for VIIRS SDR and NWCSAF"
**Describe the bug**
Combining VIIRS SDR data and NWCSAF products in composites is not working if using more than one granule. This is because the y-dimension from the NWCSAF has coordinates scan line number and they are counted relative to the actual granule from 0 to 767. When these are concatenated the coordinates will be repeated and this causes the BackgroundCompositor to crash. The VIIRS SDR

[2022-04-26 12:06] djhoese commented on #2095
This is a difficult problem to solve...if someone actually needs those scan line numbers. The simplest solution would be to remove them in the reader, but I assume someone wanted them? Do you know if you or @adybbroe or someone else is using these scan line numbers?

The other option is a bit more complicated. We'd have to define a way in the base reader to say "this coordinate variable is a count

[2022-04-26 12:15] mraspaud commented on #2095
I talked with @ninahakansson over the last couple days about this issue, and as you say @djhoese , the "easy" solution is to remove the `y` coordinate in the reader.

An alternative that we thought about was to use `combine_by_coords` instead of `concat` when putting segments together in the yaml reader, and when it crashes, we know that the `y` coord is fishy, and remove it there instead.

What y

[2022-04-27 08:07] ninahakansson commented on #2095
My first try with combine_by_coords was not successful. It gave a NotImplementedError and a Type error but not in the _load_dataset function where I used combine_by_coords.

[2022-05-03 08:13] simonrp84 commented on #2090
@djhoese Only just read through this again, your suggestion to ignore products with a `_` at the start sounds good to me.

[2022-05-03 18:34] #1015 closed

[2022-05-04 17:06] djhoese commented on #1348
I'm going to close this issue since there haven't been any updates. The general issue is that you can't provide more than one time step (repeat cycle) to the Scene. The error message is not extremely helpful, but I'm not sure there is an easy way around that. A pull request is welcome if someone wants to improve the error handling of the AHI HSD reader's error when accessing `self.area`, but I don

[2022-05-04 17:06] #1348 closed

[2022-05-04 17:07] djhoese commented on #1308
Closing as it sounds like the original issue has been fixed.

[2022-05-04 17:07] #1308 closed

[2022-05-06 16:24] #2089 closed

[2022-05-19 15:47] cbhramar opened #2109 "Trouble reading FIDUCEO_FCDR_L15_MVIRI Easy nc files"
Hi team,

I am trying to read MVIRI level 1.5 FIDUCEO files, EASY version. An example filename would be: 'FIDUCEO_FCDR_L15_MVIRI_MET7-57.0_201611110230_201611110300_EASY_v2.6_fv3.1.nc'

But I am facing issues with loading the VIS, WV, and IR channels from the file.

My code:

[code]

This script produces the following errors:

[code]

Does this mean there are no values in any of the channels? I ha

[2022-05-19 15:53] pnuu commented on #2109
These are just warnings, not errors, and happen due to space pixels that are masked out. Have a look at the images, they should be ok.

[code]

[2022-05-19 19:13] cbhramar commented on #2109
Thanks a lot @pnuu!

I want to access `toa_bidirectional_reflectance_vis` values from these files, I believe they are stored in the channel named `VIS` on easy FCDR. is that correct?

Can you please also suggest the easiest method to extract the value at a given latitude/longitude, or a method to convert pixel values (x, y) to lat/lon?

Interestingly. more than 50% of the files at this particular

[2022-05-23 20:20] plecraw opened #2111 "Archived GOES datasets not loading. AttributeError: 'area' object has no attribute 'crs'"
Hello all,
I am trying to read in high resolution archival nc files all the way back to GOES 8 in 1995. Unfortunately, satpy errors at `scn.load` while reading native resolution GOES nc files downloaded from NOAA CLASS. (Goes 8, 9, and 12 tested).

Specifically, this fails on:
- native resolution GOES-12 *BAND_01 nc files
- native resolution GOES-08 *BAND_01 nc files

While it works with:
- 16km r

[2022-05-23 20:47] djhoese commented on #2111
So it looks like this is a case not caught by the tests and definitely a bug. Looks like @sfinkens added this reader and this hacky bit of code that creates a `nametuple`. Pyresample (and therefore satpy) is slowly moving away from using PROJ.4 dictionaries wherever possible. Recently (within the last year) I updated uses of `proj_dict` in Satpy to use `.crs` on AreaDefinition objects including th

[2022-05-25 03:19] andersonad opened #2112 "Trying to run scn.load(['true_color']) on GOES-16 ABI_L1b causes ValueError"
**Describe the bug**
Trying to run scn.load(['true_color']) on GOES-16 ABI_L1b causes a dask ValueError apparently related to chunk sizes.

**To Reproduce**

[code]

**Expected behavior**
I expected to get a true color composite scene object

**Actual results**
Text output of actual results or error messages including full tracebacks if applicable.
[code]
**Screenshots**
If applicable, add screens

[2022-05-25 05:35] pnuu commented on #2112
Just to limit possibilities, does `true_color_raw` work? And which version of Pyspectral are you using?

[2022-05-25 09:22] #1699 closed

[2022-05-25 10:15] #1638 closed

[2022-05-25 10:43] BENR0 opened #2113 "Automatic conversion of remote files to FSFile objects breaks pathlib.Path support"
**Describe the bug**
Automatic conversion of remote files to FSFile objects introduced in #2096 breaks `pathlib.Path` support.

**To Reproduce**
For example
[code]

**Expected behavior**
The Scene should accept `pathlib.Path` object without error.

**Actual results**
[code]

**Environment Info:**
 - OS: Linux
 - Satpy Version: 0.36.0
 - PyResample Version:

**Additional context**
While #2096 compl

[2022-05-25 12:03] gerritholl commented on #2113
There are other aspects where `pathlib.Path` support in Satpy is incomplete.  For example, `save_dataset` does not take `pathlib.Path`.

[2022-05-25 12:04] djhoese commented on #2112
@andersonad Could you provide the list of files you gave to Scene as well. My guess here is that the band be rayleigh corrected is not the same size as the red band that the rayleigh correction is using as part of the correction. My hope is that this is just an accident caused by providing more than one ABI time step to the Scene.

[2022-05-25 14:55] #2112 closed

[2022-05-25 15:04] djhoese commented on #2112
No problem and thanks for filing the issue. It is a hard thing to validate for all input sources so Satpy doesn't currently automatically check it. Let us know if you have any questions (in slack or the mailing list or as a new issue here).

[2022-05-25 15:12] andersonad commented on #2112
Also thank you for being responsive!

[2022-06-02 14:46] MengXin001 opened #2121 "Correcting ARGI red band to enhance RGB composition"
In order to synthesize better true color images of AGRI on FengYun-4B. Another researcher suggested making a red band correction instead of using ABI compose solution. It is because the Band2 spectral interval of AGRI is different from ABI.
Use the following Band math formula to correct it
`(C02-0.13*C03）/0.87`
**FY-4B_true_color_corrected**
![FY-4B_true_color_corrected](https://user-images.github

[2022-06-02 16:24] simonrp84 commented on #2121
Thanks for the info. It would be good to have a more physically based approach, as we talked about in the last few days @mraspaud, that is based on the spectral response function. As that is a larger job and appropriate to multiple satellites I think that's a separate issue.
My suggestion is that I add this 'quick fix' to FY-4/AGRI now and then we can revisit once we have a more generic technique

[2022-06-02 16:39] mraspaud commented on #2121
Sounds good to me!

[2022-06-02 17:30] simonrp84 commented on #2121
@MengXin001 do you have any documentation or literature that describes this correction? It would be good to include this information in the code for future reference.

[2022-06-03 02:24] WP19VFF commented on #2121
@simonrp84 SRFs on NSMC's PPT, the Channel02 of AGRI is similar to a panchromatic band, and NSMC mentioned Red Channel compensate in their PPTs on CGMS-50 (without detailed method). I tried many times for red channel comensate after the FY4B data was released then got this formula ((Band2-0.13*Band3)/0.87) to correct the red band.
![HI3A@W42D%8S940UT81SYG1](https://user-images.githubusercontent.co

[2022-06-03 02:31] MengXin001 commented on #2121
@simonrp84 That is exactly using the method from @WP19VFF

[2022-06-08 09:43] #1996 closed

[2022-06-16 13:24] BigShuiTai opened #2127 "Raised RuntimeError when trying to make HIMAWARI-8 true color image"
**Describe the bug**
I was trying to make a HIMAWARI-8 true color image. However, SatPy module raised a ```RuntimeError``` to me at ```_slice_data``` function.

**To Reproduce**

[code]

**Expected behavior**
Succeed in compositing true color image and save it in certain folder.

**Actual results**
[code]

**Environment Info:**
 - OS: Ubuntu 20.04.4 LTS x86_64
 - Satpy Version: 0.35.0
 - PyResampl

[2022-06-16 14:18] djhoese commented on #2127
Thanks for filing this issue. It is unfortunate how unhelpful that error is. Thanks for that print out it is really helpful. So it seems some input has a size of 0 for the `y` dimension. Could you add to your print statement `dataset.attrs["_satpy_id"]` and let us know what the new output is?

This will tell us which dataset has 0 rows and maybe give us an idea what is going on.

[2022-06-16 14:50] djhoese commented on #2127
Hm. So with the same input data sometimes it succeeds and sometimes it fails?

In your original script you had that you were loading `true_color`, but this new print out shows the use of `green_nocorr`. That version of the green composite shouldn't be used for `true_color`. Did you make some modifications to the composites?

[2022-06-16 15:02] BigShuiTai commented on #2127
Ah I have forgot to tell you that I used ```true_color_hybrid``` composite method which was written by @[WP19](https://github.com/WP19VFF):
[code]

[2022-06-16 15:20] WP19VFF commented on #2127
true color without correction and true color(rayleigh corrected) are blended from solor zenith angle of 75-85 degree to make the terminator line more natural

[2022-06-16 15:42] djhoese commented on #2127
Interesting idea. I'm surprised that is needed versus just tweaking the flags for the sunz_corrected modifier keyword arguments. Well, unless rayleigh is the problem. I've found it difficult to get rayleigh SZA tweaking to work well.

But @BigShuiTai when it passed and when it failed it was the same data case? Could you try loading only `B01`, `B02`, `B03`, and `B04` and then printing out `print(s

[2022-06-16 15:45] BigShuiTai commented on #2127
Interestingly, when I used this composite to ABI (like GOES-16) and AMI (GEO-KOMPSAT-2A), it didn't report the error like before.

[2022-06-16 16:07] BigShuiTai commented on #2127
I print each bands' shape, in spite both failed and succeed, it just only print the same result:
[code]

[2022-06-16 16:13] djhoese commented on #2127
ok, now if instead of bands you load `true_color` and `true_color_nocorr` and you do:

[code]

What do you get?

[2022-06-16 16:41] BigShuiTai commented on #2127
[code]
Yeah I found something different in the shape of ```green_nocorr```. How I should do next?

[2022-06-16 16:57] BigShuiTai commented on #2127
Very strange for me too. I tried some times again, but this time it gave me another different result:
[code]
Its shape changes really random and I was very confused to it.

[2022-06-16 17:03] djhoese commented on #2127
Can you paste the code you ran to produce the above print out? The whole code. If you can get it down to only the imports, the scene creation, the scene.load, and the print that would be ideal.

[2022-06-16 20:47] BigShuiTai commented on #2127
I have sorted out my files which used for compositing true color image. It attached an yaml file that the composite method I use. Hopefully, it would make a good help to you.
(Besides, the HIMAWARI-8 satellite data I used cannot upload to this site. I think you should download files additionally.)
[all.tar.gz](https://github.com/pytroll/satpy/files/8922252/all.tar.gz)

[2022-06-16 20:57] djhoese commented on #2127
I don't think I'll need the YAML files I can take what you've pasted above. Can you paste the python code here? The tarball that I think you tried to attach doesn't seem to work. It gives me a 404.

[2022-06-16 21:13] BigShuiTai commented on #2127
I have edited my reply and attached my code on it.

[2022-06-16 22:19] djhoese commented on #2127
Thanks. Can you try commenting out the .load of the channel so you are only loading the green? You'll need to comment the lower block of code that does the actual processing too but we only care about the green shape.

[2022-06-17 02:44] BigShuiTai commented on #2127
Yes, I commented the ```scn.load([channel])```, only loading the ```green_nocorr``` channel. However, its shape changed every times.
[code]

[2022-06-17 07:12] mherbertson commented on #2127
I can replicate this behaviour with AHI source files in .bz2, suspecting the unzip function in satpy. Would also explain why ABI/AMI and uncompressed AHI data sources are working correctly (for me). Can you confirm your script performs correctly if you provide the data to satpy decompressed and in .DAT format?

`scn = Scene(glob.glob("../satellite_data/HS_H08*.DAT"), reader='ahi_hsd')`

[2022-06-17 07:39] simonrp84 commented on #2127
Is this using the release version or the latest code from github? Unsure if there's any changes between the two but I can't replicate the problem locally (using latest code from git).

[2022-06-17 07:56] mherbertson commented on #2127
I'm running satpy 0.36.0 (pypi)

FYI it appears randomly, my first cycle of the above code:
[code]
second run:
[code]
the files all appear to be the right size in the /tmp folder so on first glance it seems they're getting decompressed correctly

[2022-06-17 07:58] BigShuiTai commented on #2127
Oh I finally succeed in using the decompressed AHI source files! It seemed that the unzip function in satpy is the culprit

[2022-06-18 07:33] mherbertson commented on #2127
In good news it appears the unzipping process isn't causing this. Manually copying over the /tmp files after satpy decompresses them work successfully and match an externally extracted source file hash. I'll keep digging.

[2022-06-19 10:11] mherbertson commented on #2127
AHI segments have different `observation` times. With the change of `start_time` to `scheduled` in PR #2031, we lost the ability to correctly order the segments as filenames will be random after decompressing .bz2. https://github.com/pytroll/satpy/blob/bafe54e1d3c598f1d70b616e8d27bb2b25c62190/satpy/readers/yaml_reader.py#L626
I've implemented a fix that adds an optional 2 digit prefix (segment num

[2022-06-19 11:36] BigShuiTai commented on #2127
@mherbertson In ```ahi_hsd``` reader, it use ```bz2file = bz2.BZ2File(filename)``` to decompress the AHI native data.
I think ```bz2.open()``` can solve this problem, as far as I’m concerned.

[2022-06-20 14:53] ghislainp commented on #1526
no, sorry and I'm not very optimistic for the coming months...

[2022-06-20 15:04] Rapsodia86 commented on #1526
Ok, thanks for the update

[2022-06-20 15:25] arturimgw opened #2129 "find_files_and_readers skips valid files and generate ValueError: No supported files found"
**Describe the bug**
Although there are files in the directory that meet the given time criteria the `find_files_and_readers` return `ValueError: No supported files found.` I observed it only for some times close to midnight, e.g. 23:51

files:

GDNBO_j01_d20220619_t2351438_e0003050_b23759_c20220620001612399860_cspp_dev.h5
GIMGO_j01_d20220619_t2351438_e0003050_b23759_c20220620001613080841_cspp_dev

[2022-06-20 15:37] djhoese commented on #2129
Thanks for filing this issue. As mentioned on slack, the main issue here is that VIIRS SDR filenames don't technically include a date for the end of the file, only a time:

[code]

So the start time is 2022-06-19 23:51:43.8 and the end time is ????-??-?? 00:03:05.0. To get around this, Satpy currently does this:

https://github.com/pytroll/satpy/blob/bafe54e1d3c598f1d70b616e8d27bb2b25c62190/satpy/

[2022-06-21 07:11] TAlonglong commented on #2129
https://github.com/pytroll/pytroll-collectors/blob/main/pytroll_collectors/region_collector.py#L299-L307

[2022-06-22 06:55] peterdudfield opened #2130 "Can install satpy with pip"
**Describe the bug**
Get errors when install satpy with pip

Has anyone else found this? I'm really sorry if it is just my computer

**To Reproduce**

[code]

**Expected behavior**
the package to install

**Actual results**
[code]

<img width="1382" alt="Screenshot 2022-06-22 at 07 54 10" src="https://user-images.githubusercontent.com/34686298/174963567-014acbae-9d46-4c48-a142-c96c790a7955.png">

[2022-06-22 12:20] djhoese commented on #2130
:confused: That is very strange since the newest version is 0.36.0. Just to be sure can you add a `-U` flag between `install` and `git+` and see if that changes the results? What kind of environment are you installing this on (pip-based, conda-base)? Did this environment have satpy installed in it before? What version of Python?

[2022-06-23 16:00] jacobbieker opened #2132 "Unable to open Data Tailor MSG SEVIRI Native file"
**Describe the bug**
I've downloaded from the data tailor service a subsetted MSG SEVIRI native file over the UK. As its still in the native format, I was expecting to be able to open it with the script below, but instead errors are thrown and it fails.

**To Reproduce**

[code]

**Expected behavior**
The file to be opened and able to extract channels like with the full sized native files.

**Actu

[2022-06-23 16:13] pnuu commented on #2132
I haven't tested any data subsetted with data tailor, but I'd also expect it to work. Does any of the other channels load? The HRV channel is a bit special being composed of two separate imaging windows, so I wouldn't be surprised if the data tailor and/or Satpy would behave a bit unexpectedly.

[2022-06-23 16:25] jacobbieker commented on #2132
Yeah, it works loading the other channels, just not HRV

[2022-06-23 16:33] jacobbieker commented on #2132
Here is the file I am using: https://drive.google.com/file/d/1yNhQt-M6IxJV7ia4XHBPGlC-YzKD3yaC/view?usp=sharing if that's helpful at all

[2022-06-27 07:40] pdebuyl commented on #2130
Using python3.9, `pip install satpy` gives me version 0.33.1

Relevant log

[code]

[2022-06-27 07:54] pdebuyl commented on #2130
BTW, I can't find a version info in `setup.py` or `setup.cfg`. There used to be `use_scm_version` in `setup.py` but it disappeared.

The way to store version info in `pyproject.toml` is:
[code]

https://peps.python.org/pep-0621/#version

[2022-06-27 12:15] djhoese commented on #2130
It seems like @mraspaud removed the setup.py options in #1848 but then never moved them to pyproject.toml as described in the setuptools-scm docs:

https://pypi.org/project/setuptools-scm/

For example:

[code]

@pdebuyl How would you feel about make a PR to add this information to the pyproject.toml?

[2022-06-27 12:24] ghansham opened #2134 "scene.coarsest_area and scene.resample not working on MSG1/MSG2 in satpy 0.29"
**Describe the bug**
While resampling the scene to coarsest_area using resampler='native', it fails.
I was trying to generate the ir_sandwich, when I got stuck here.

**To Reproduce**

[code]

**Expected behavior**
It should  have resampled without any error

**Actual results**
Text output of actual results or error messages including full tracebacks if applicable.

In [18]:  lscn = scn.resample(s

[2022-06-27 12:51] pdebuyl commented on #2130
I overlooked the commit. Actually there is `write_to = "satpy/version.py"` in the pyproject.toml. So the question is how to make sure that it is picked up by PyPI.

[2022-06-27 12:55] ghansham commented on #2134
Still does not seems to work. Switched to satpy 0.36.0.

In [1]: from satpy import Scene

In [2]: scn = Scene(reader='seviri_l1b_native',filenames=['MSG1-SEVI-MSG15-0100-NA-20220101075742.422000000Z-NA.nat'], reader_kwargs={'fill_disk':True})
   ...:

In [3]: scn.load(['ir_sandwich'])
The following datasets were not created and may require resampling to be generated: DataID(name='ir_sandwich')

In

[2022-06-27 13:10] djhoese commented on #2130
Ah there is. Not sure how I missed that. That's what I get for commenting before I've fully woken up. Last week when you first made this issue I looked at the .tar.gz from PyPI and I didn't see anything suspicious (like a version of 0.0) but I may have been looking in the wrong places. So step 1 is I need to reproduce this. Step 2 is figure out what we can check in the .tar.gz to verify that the v

[2022-06-27 13:16] djhoese commented on #2134
I wonder if it is the 3711 chunk size of the HRV first dimension. That isn't divisble by 3 ("the factor") and also a little confusing what each chunk must be. For your last line could you do `scn['HRV'].data.chunks` and show that to us?

[2022-06-27 13:43] djhoese commented on #2130
So according to [this stackoverflow answer](https://stackoverflow.com/a/68126941/433202) this is a change in pip and can be temporarily worked around by using `--use-deprecated=legacy-resolver` on the pip install command. I'll see what I can learn as far as what we need to change in our packaging to resolve this.

[2022-06-27 13:54] djhoese commented on #2130
Ok, here's how I'm testing all of this:

[code]

This produces a usable environment. If you do `pip install satpy` after the above then you get the warnings and failure to install. If you do the legacy-resolver line in my previous comment then it works. If you download the tarball and build a wheel from that then it also has the `0.0` in the filename.

[code]

So apparently setuptools-scm doesn't

[2022-06-27 13:56] djhoese commented on #2130
[code]

[2022-06-27 14:07] djhoese commented on #2130
I can reproduce this by making the `sdist` with my own clone. I can also get a successfully working wheel if I edit the pyproject.toml from the tarball and use setuptools_scm version 6.3.2. My guess is that version 7.x which added git support directly now requires the `.git` directory in the sdist...at least that's my guess.

[2022-06-27 14:25] ghansham commented on #2134
scn['HRV'].data.chunks
Out[4]: ((3711, 385, 3326, 322, 3392), (820, 1182, 4386, 1182, 2914, 652))

[2022-06-27 14:32] djhoese commented on #2134
Hacky workaround that may work, right before calling `.resample` do:

[code]

Does that fix things?

[2022-06-27 14:40] djhoese commented on #2130
See https://github.com/pypa/setuptools_scm/issues/735

[2022-06-27 14:59] ghansham commented on #2134
Issue still persists

[2022-06-27 15:00] djhoese commented on #2134
after you do the above hack, can you print the chunks again? I'm very confused at this point.

[2022-06-27 15:10] ghansham commented on #2134
In [1]: from satpy import Scene
^[[A^[[A
In [2]: scn = Scene(reader='seviri_l1b_native',filenames=['MSG1-SEVI-MSG15-0100-NA-
   ...: 20220101075742.422000000Z-NA.nat'], reader_kwargs={'fill_disk':True})

In [3]: scn.load(['IR_108', 'HRV'])

In [4]: scn["HRV"].data =scn['HRV'].data.rechunk(3712)

In [5]: scn["IR_108"].data.chunks
Out[5]: ((3712,), (3712,))

In [6]: scn["HRV"].data.chunks
Out[6]: ((

[2022-06-27 15:45] djhoese commented on #2134
Ah yes, I suppose that does make sense. Oops. You could try a chunk size of 11136 or really anything divisible by 3 I guess, but you'd want an even chunking so maybe 2784 which would give you 4 chunks in each dimension, but is still divisible by 3.

[2022-06-27 15:49] ghansham commented on #2134
I will also try to debug tonight.

[2022-06-28 04:40] ghansham commented on #2134
Following code snippet worked:

from satpy import Scene
scn = Scene(reader='seviri_l1b_native',filenames=['MSG1-SEVI-MSG15-0100-NA-20220101075742.422000000Z-NA.nat'], reader_kwargs={'fill_disk':True})
scn.load(['ir_sandwich'])
scn["HRV"].data = scn['HRV'].data.rechunk(3711)
lscn = scn.resample(destination=scn.coarsest_area(), resampler='native')
lscn.show(dataset_id='ir_sandwich')

Point here is 3

[2022-06-28 12:11] djhoese commented on #2134
I'm not sure we should close this yet. The workaround I gave you is more of a hack. The original use case/code is supposed to work or at least we want it to work. Let's see what some of the SEVIRI experts have to say about this.

[2022-06-28 13:10] ameraner commented on #2134
FYI, this is a duplicate of https://github.com/pytroll/satpy/issues/1595

[2022-06-28 14:26] yukaribbba opened #2135 "Images are slightly different between scn.crop() and original one"
**Describe the bug**
Just as the title reads.

**To Reproduce**

[code]
Nothing else special.

**Expected behavior**
Shoud be the same.

**Actual results**

![original](https://user-images.githubusercontent.com/72339781/176203711-f3b7ee06-796e-473b-8a31-e681e9843ac0.jpg)
![cropped](https://user-images.githubusercontent.com/72339781/176203736-8aeb0951-d3be-4ff3-b151-3fd479bf8819.jpg)

These two 100

[2022-06-28 15:38] djhoese commented on #2135
Can you provide the code that generated these and can you turn on debug messages and paste them here? My guess is different enhancements are being applied.

[2022-06-28 16:31] yukaribbba commented on #2135
The python script:

[code]

The composite:

[code]

The enhancement:
[code]

Debug **WITH** scn.crop():
[code]
Debug **WITHOUT** scn.crop():
[code]

[2022-06-28 16:36] ghansham commented on #2134
I feel the products downloaded using the scripts mentioned in the following link:

https://gitlab.eumetsat.int/eumetlab/data-services/eumdac_data_store/-/blob/master/3_Downloading_products.ipynb

have some issues mentioned in this bug (variable chunk size) specifically for high resolution bands

[2022-06-28 19:42] djhoese commented on #2135
You can see this in the log output of both:

[code]

This is what is messing up your composites. The DayNightCompositor will pre-enhance the true_color and that is being enhanced fine:

[code]

However, the final result of that compositor will then also be enhanced when it is saved to disk with the writer (`save_dataset`). You should specify an additional enhancement configuration section for `Rda

[2022-06-29 04:07] yukaribbba commented on #2135
Got it. Thanks! I'm closing now.

[2022-06-29 04:07] #2135 closed

[2022-06-30 07:02] kmuehlbauer commented on #1445
FYI: Can't reproduce with h5py 3.7.0 and h5netcdf 1.0.1.

[2022-06-30 14:01] djhoese commented on #1445
Given the age of this and @kmuehlbauer telling us it doesn't show up anymore, maybe we can close this @ninahakansson ?

[2022-07-08 11:20] jacobbieker commented on #2132
Also, it doesn't seem to work with NetCDF files either.

[2022-07-08 13:14] ameraner commented on #2132
Taking a look at the Data Tailor documentation, this might be related to a limitation of the Data Tailor itself, see: https://eumetsatspace.atlassian.net/wiki/spaces/DSDT/pages/1558872065/DTWS+and+DT+standalone+Customisation+of+HRV+channel+MSG+data
It seems that the HRV channel needs to be customised separately. If you haven't done it yet, could you try if it works with data produced as in the doc

[2022-07-08 14:12] jacobbieker commented on #2132
Yeah, I tried that, the option for NetCDF doesn't work with SatPy, and there isn't a native file option for just HRV.

Trying it with this customized NetCDF file: https://drive.google.com/file/d/17AixEstjPj6TAGn5dMi7k3D459vOXIm9/view?usp=sharing

`hrv_scene = Scene(filenames={"seviri_l1b_nc": ["/home/jacob/Development/Satip/scripts/HRSEVIRI_HRV_20220708T134510Z_20220708T134510Z_epct_7dbd8ef9_C.nc"

[2022-07-08 15:03] steph-ben opened #2139 "Hostname neo.sci.gsfc.nasa.gov not reachable anymore"
**Describe the bug**

When generating some composite, satpy automatically download background from internet, cf. https://github.com/pytroll/satpy/issues/1362

However, currently the hostname https://neo.sci.gsfc.nasa.gov doesn't seems to exists anymore.

It's used here : https://github.com/pytroll/satpy/search?q=neo.sci.gsfc.nasa.gov&type=code

Any thought for updating the correct hostname ?

Than

[2022-07-08 15:36] djhoese commented on #2139
Thank you for bringing this up. This was brought up recently on the mailing list by @lobsiger, but I don't think we ever got to the point of making a pull request.

@lobsiger Do you think you could make a pull request for this fix?

[2022-07-10 18:09] jacobbieker commented on #2132
It does work to open Data Tailor HRIT files though, and just the subsetted rows of the HRIT data that I want, so I think that works well enough for my use case.

[2022-07-11 08:51] #2127 closed

[2022-07-11 16:43] steph-ben opened #2143 "Save geotiff with keep_palette still add an alpha band"
**Describe the bug**

When saving an image with the code below, I expect only one band to be written on my Tiff file.
However, at one point my XRImage has mode = "L", and thus not respecting my "keep_palette" argument ..

Any thoughs on this ?

Might be related to https://github.com/pytroll/satpy/issues/640

**To Reproduce**

[code]

My output looks like :

[code]

By following step by step, I got

[2022-07-11 18:22] djhoese commented on #2143
Side note: I see you have `floating_point=False`, I think that flag has been deprecated for a while and could be removed.

What composite/product are you saving? I see AHI B01 in the geotiff metadata. For `keep_palette` to work, you need to enhance your data with the `palettize` operation. This applies a colormap to your data, but instead of converting it to RGB/A your data becomes the index in th

[2022-07-11 18:46] jacobbieker commented on #2132
Ah okay, thanks for investigating it more! I guess once they fix the limitation of separate non-HRV and HRV channels it should then start working. For the NetCDF issue, because the HRIT files seem to be working fine, and the native file might get fixed soon on EUMETSAT's side, I'll probably leave it for now, but might come back to it if it turns out we need it.

[2022-07-12 08:19] ameraner commented on #2132
Thanks! Regarding the Data Tailor not working properly with HRV, have you notified EUMETSAT about this already, or are you aware if they are actively working on this? Otherwise, if you have the chance, I would suggest to report it with an email to ops@eumetsat.int.

[2022-07-12 15:05] djhoese commented on #2143
Glad that worked! Let us know if you have any problems and thanks for the kind words.

[2022-07-14 08:40] J-shel opened #2144 "Satpy resampling plot produce blank area which actually has values"
**Describe the bug**

Hi,
I resample the ABI L1b Radiance data into a different projection. After this, I plot it and generate a figure with blank area in the upper-left corner, which should not happen. And if I increase the projection area, the blank area gone away.

**To Reproduce**

#!/usr/bin/env python
import os
os.environ['OMP_NUM_THREADS'] = os.environ['MKL_NUM_THREADS'] = '2'
os.environ['P

[2022-07-14 15:05] djhoese commented on #2144
Yeah this is definitely odd. Could you try passing `reduce_data=False` to your `.resample` call and see if that fixes the issue?

[2022-07-14 16:16] djhoese commented on #629
In the last month or so I've discovered another important aspect to this reader-specific chunking. If the dask chunk size is smaller than the in-file chunk size (ex. the NetCDF variable is chunked 4096 rows by 4096 columns, dask chunk size is 1024) then we suffer from dask (or the low-level file libraries) having to load the entire file chunk to then cut out the portion it wants for its dask chunk

[2022-07-18 03:03] J-shel commented on #2144
Hi,

Sorry for the late reply. "passing reduce_data=False to .resample call" works! Thank you very much. And besides, if not adding "reduce_data=False" and save the plot as png, the blank area also disappears, which is very interesting.

[2022-07-18 11:01] J-shel opened #2145 "Could not calculate destination definition resolution"
**Describe the bug**
Hi，
I'm trying to resample multiple  ABI L1b Radiance files at multiple times into a different projection. The question is that satpy seems could not resample multipul channel times accross different times simutaneously, or I may have done it in a wrong way. When I submit the following python script, I got an message "Could not calculate destination definition resolution".

**

[2022-07-19 01:58] J-shel commented on #2145
Got it! Thanks a lot!

[2022-07-19 02:12] #2145 closed

[2022-07-23 12:57] simonrp84 opened #2148 "Make `_get_sensor_angles` and `_get_sun_angles` public"
At present, the two functions listed above, which are in `modifiers.angles` are private (hence the leading `_`). I frequently use these functions in my own processing chains and I suspect others do too - solar and satellite angles are a commonly used thing.

Can we remove the underscores and make these two functions public? Of course, they're useable as-is but linters tend to complain about access

[2022-07-23 18:59] djhoese commented on #2148
The main reason they are private is so people *don't* use them directly. The get_angles function was meant to be the only public access for now. I'm not too against making these public but the other big part of these decisions was that this "angle stuff" was supposed to get a more Scene and compositor friendly interface in the future. I still don't know what that functionality would look like so m

[2022-07-26 14:11] sfinkens commented on #2111
Sorry for taking to long to reply. Indeed that looks hacky! I'll assign it to me and look into it as soon as possible.

[2022-07-26 15:18] djhoese commented on #1977
@joleenf Correct. The reader was never updated to work with xarray/dask.

[2022-07-26 15:22] gerritholl commented on #1527
As for where to host them: how about adding them on figshare under the keyword [Pytroll](https://figshare.com/search?q=:keyword:%20%22Pytroll%22)?

[2022-07-27 07:46] mraspaud commented on #1527
Fine by me!

[2022-07-27 07:52] mraspaud commented on #629
While looking into xarray backend, I stumbled upon this paragraph:
https://xarray.pydata.org/en/stable/internals/how-to-add-new-backend.html#preferred-chunk-sizes

It might not be the final solution, but it could help to put this `preferred_chunks` encoding in the produced dataarrays.

[2022-07-28 16:58] #1845 closed

[2022-07-29 10:34] gerritholl opened #2152 "More flexibility in satellite location in parallax correction"
## Feature Request

**Is your feature request related to a problem? Please describe.**

The parallax correction currently derives the satellite location from the metadata of the (cloud top) height dataset, either by orbital paramaters or by satellite name, datetime, and TLE.  Some datasets may not include this information, which complicates using the parallax correction.  It would be desirable if

[2022-07-29 16:04] gerritholl commented on #1595
This also affects FCI:

[code]

fails with

[code]

I have not tested if it also affects ABI.

[2022-07-29 16:08] gerritholl commented on #2134
Closing as duplicate of #1595.

[2022-07-29 16:08] #2134 closed

[2022-07-29 16:10] djhoese commented on #2139
This is fixed now with #2122 being merged.

[2022-07-29 16:10] #2139 closed

[2022-07-30 01:12] mukul-B opened #2154 "module 'ntpath' has no attribute 'sep'""
(<class 'AttributeError'>, AttributeError("module 'ntpath' has no attribute 'sep'"), <traceback object at 0x0000012A5190FD40>)

when i debug the code on scene constructor

g_reader = 'abi_l1b'
        goes_scene = Scene(reader=g_reader,
                           filenames=[path, ])

[2022-07-30 01:26] djhoese commented on #2154
Could you please provide the entire traceback and information about what operating system you are on and what version of satpy you have? Is there a reason you deleted the template for the issue? Please provide the information that the issue originally requested:

[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

**Actual results**
Text output of actual

[2022-08-01 12:39] jeanlucshaw opened #2155 "AVHRR CLASS Filename prefix prevents reading with Scene."
**Bug description**
I am setting up a processing chain for NOAA and MetOp satellite data acquired daily through a subscription with [CLASS](https://www.avl.class.noaa.gov/saa/products/welcome). These files arrive with a numeric prefix to the typical filename for AVHRR binary data. Satpy's Scene class can read these file if I rename them to remove the numeric prefix, but not if I leave it in place.

[2022-08-01 12:49] pnuu commented on #2155
You can add your own filename pattern for these files by:
- create a base directory, e.g. `$HOME/satpy_config`
- create a config directory for the readers `$HOME/satpy_config/readers`
- copy https://github.com/pytroll/satpy/blob/main/satpy/etc/readers/avhrr_l1b_gaclac.yaml to `$HOME/satpy_config/readers/`
- at the end of the file, add a new entry to the `file_patterns` list, which is identical to

[2022-08-01 12:56] jeanlucshaw commented on #2155
Thanks for writing back so fast @pnuu ! I am writing tools that will be used by a other people too, so if it could be built in to satpy, that would be convenient. I would be happy to tackle this myself.  I have read the contributor guidelines and have satpy-dev set up. Can you tell me what the next steps would be?

[2022-08-01 13:02] mraspaud commented on #2155
@jeanlucshaw I agree that this can be added to satpy. The only thing you have to do I think is to add an item to the file pattern list here: https://github.com/pytroll/satpy/blob/main/satpy/etc/readers/avhrr_l1b_gaclac.yaml#L185
and then submit a PR. Good luck!

[2022-08-01 13:06] jeanlucshaw commented on #2155
OK I am on it. Should I wait until the progress report is done or close the issue now?

[2022-08-01 13:07] mraspaud commented on #2155
You can wait and close the issue through the PR (the line `Fixes #xxx` in the PR template takes care of that).

[2022-08-01 13:47] jeanlucshaw commented on #2155
I am getting a permission error when I try to push my branch, i.e.,

$ git push origin my-branch

As a new contributor, do I need to request an access token?

[2022-08-01 13:48] gerritholl commented on #2155
You need to clone the repo so that origin points to `jeanlucshaw/satpy`, then push there.  Then set upstream to `pytroll/satpy`.  There are user guides for this on GitHub and elsewhere on the web.

[2022-08-01 15:51] jeanlucshaw commented on #2155
Fixed by PR #2157 .

[2022-08-01 15:51] #2155 closed

[2022-08-01 20:47] #1949 closed

[2022-08-02 09:17] simonrp84 opened #2159 "Importing satpy getting slower"
As satpy becomes more complex, it is importing more and more libraries. This is becoming problematic for us as we're often running tens of thousands of very small python jobs that don't need many of satpy's features.
For example, according to `python -X importtime -c "import satpy"` it takes ~2.3 seconds to import the most recent version of satpy, of which ~0.3 seconds is importing rasterio. Howev

[2022-08-02 15:03] djhoese commented on #2159
Thanks for bringing this up. Any idea what version(s) of xarray are used when you ran these tests?

[2022-08-02 15:15] djhoese commented on #2159
Also, how are you timing/profiling this? If you can show me your code and method then I can make sure that any changes I make will show speed ups in your method of timing as well.

[2022-08-02 20:22] christianversloot opened #2161 "Plotting Scene with Cartopy gives correct borders but red background"
First things first: thanks for making such a well-supported library for satellite image processing.

Secondly: I'm aware that my question is Cartopy-oriented, but I'm opening an issue here because it is grounded in code one of Satpy's maintainers wrote in another issue (https://github.com/pytroll/satpy/issues/1714). More specifically: https://github.com/pytroll/satpy/issues/1714#issuecomment-85486

[2022-08-02 20:38] djhoese commented on #2161
Try passing `ax=ax` to the `.plot.imshow(...)` call. Just a wild guess.

[2022-08-03 02:03] huanglii opened #2163 "ValueError: time data '2022-07-11T00:30:01Z' does not match format '%Y-%m-%dT%H:%M:%S.%fZ'"
**Describe the bug**
When I try to read the data of FY4A, the code threw `ValueError: time data '2022-07-11T00:30:01Z' does not match format '%Y-%m-%dT%H:%M:%S.%fZ'`.

**To Reproduce**

[code]

**Expected behavior**

**Actual results**

[code]

**Screenshots**

**Environment Info:**
 - OS: Windows
 - Satpy Version: 0.36.0
 - PyResample Version: 1.23.0
 - Readers and writers dependencies (when rele

[2022-08-03 06:54] christianversloot commented on #2161
Thanks for your quick response! Unfortunately:

`new_scn[composite].plot.imshow(rgb='bands', ax=ax, transform=CRS, origin='upper')`

![example2](https://user-images.githubusercontent.com/6450612/182543568-335e1fd8-a631-4af1-b306-22574dbfc259.png)

[2022-08-03 07:10] simonrp84 commented on #2159
The command I used for profiling is listed above, python - x importtime

This is using the latest versions of all non satpy libraries, tested on a fresh conda env. Can find specific versions tonorrow.

[2022-08-03 10:25] mraspaud commented on #2161
I just tried something similar with MSG data, and it looks like the data passed to matplotlib is to big. (the enhancements we usually apply to imagery before saving is not applied when calling `.plot.imshow` as far as I know). So maybe
`(new_scn[composite] / 255).plot.imshow(rgb='bands', ax=ax, transform=CRS, origin='upper')` would show something more sensible?

[2022-08-03 10:38] mraspaud commented on #2161
Ah, I got something better with this:
[code]
Not as straightforward as I would have wished, but seems to work.

[2022-08-03 13:35] djhoese commented on #2161
@christianversloot Your script with `ax=ax` in the `imshow` call works for me:

[code]

![image](https://user-images.githubusercontent.com/1828519/182621107-e21f5a63-c6ab-41b6-a824-10f6f155d13f.png)

Note: This was with some old GOES-16 data I had in the "TEST" position but both your data and mine should cover Texas just fine. I also should note your second `new_scn.load` should not be needed.

[2022-08-03 14:35] christianversloot commented on #2161
I have it working now! For reference of anyone else running into this problem: ensure that your version of `cartopy` is up to date, which itself requires some hassle as it requires `PROJ` >8.0.0 but `apt` has ~6.3.7 as latest version. Building `PROJ` from source (https://stackoverflow.com/a/72442088) and then installing `cartopy` and then ensuring that the rest (`satpy`, `pyresample`,...) is up to

[2022-08-03 14:37] djhoese commented on #2161
Glad you got it working. My recommendation for anyone working with cartopy would be to use conda and install packages from conda-forge. Mixing apt and PROJ/cartopy is going to be difficult.

[2022-08-03 14:37] #2161 closed

[2022-08-03 15:13] djhoese commented on #2163
Thanks for filing this issue. I think you may have run into a very rare case/bug. Let's see if we can figure out how to fix it.

Would it be possible for you to run `ncdump -h your_file.HDF` and show me what it says for the following global attributes:

[code]

@simonrp84 have you ever run into this?

[2022-08-03 16:47] simonrp84 commented on #2163
Nope, but I can test with that file.

[2022-08-03 20:12] simonrp84 commented on #2163
Ok, I have just tried to reproduce this error with the same file that @huanglii used (`FY4A-_AGRI--_N_REGC_1047E_L1-_FDI-_MULT_NOM_20220711003000_20220711003417_0500M_V0001.HDF`). But the file works OK for me, and I see a time of `2022-07-11T00:30:01.805Z`.

@huanglii perhaps the file is corrupted? Can you open it in other programs and, as @djhoese suggests above, find the observation beginning da

[2022-08-04 03:18] huanglii commented on #2163
@djhoese The global properties are as follows:
[code]

[2022-08-04 06:35] mraspaud commented on #2163
Interesting, so it looks like the times you have in your files lack the microseconds, while @simon_p's have them. Can I ask where you get your data from?
In any case, I'd be OK with fixing the reader to accept your time format too, if you want to have a look at it?

[2022-08-04 08:37] mraspaud commented on #2159
Side note: maybe something we should add to the benchmarks?

[2022-08-04 09:48] huanglii commented on #2163
I can't find the source of the data. 😕

[2022-08-04 13:17] djhoese commented on #2159
Do the benchmarks import satpy to start the benchmarks?

[2022-08-04 13:56] mraspaud commented on #2159
The benchmarks setup (including import) is not counted in benchmark times. Does that answer your question?

[2022-08-04 14:02] djhoese commented on #2159
My worry would be that it has to import Satpy to create/setup the benchmark and then when it actually runs the benchmark and does `import satpy` it is already cached in python's dict of modules.

[2022-08-04 14:04] djhoese commented on #2159
@simonrp84 Can you help me understand this importtime output. It looks like xarray is importing trollimage. I assume this is a top-down list where a package is listed and then any imports in that package/module are indented and beneath it.

[code]

[2022-08-04 14:10] simonrp84 commented on #2159
To be honest my understanding of the output is limited. I assumed the same as you, so am not sure why it looks like xarray is importing trollimage.

[2022-08-04 14:12] djhoese commented on #2159
Ah it's backwards. If I go to the bottom of the output `satpy` is there and everything it imports goes up. That's not confusing at all. On my machine is says 1.059 seconds.

[2022-08-04 14:27] djhoese commented on #2159
Ok so some red flags I see out of the total 1059032 microseconds it takes to import Satpy.

## Aux download and Pooch

[code]

Auxiliary downloading loads `pooch` which is a majority of that import time. The major of pooch's import seems to be `tarfile` and `requests`. I feel like `tarfile` doesn't need to be imported every time.

## trollsift

[code]

This is a small amount but it shows that trol

[2022-08-04 20:17] zxdawn commented on #2163
Em ... Where did you download the data? @huanglii It's better to download if from the [NSMC website](http://satellite.nsmc.org.cn/portalsite/).

[2022-08-05 01:36] #1865 closed

[2022-08-05 04:37] huanglii commented on #2163
The data comes from other department. I can't comfirm whether it has been corrupted.
Thanks. @zxdawn

[2022-08-05 15:05] #2163 closed

[2022-08-09 14:09] pdebuyl commented on #2132
Hi all, just looking at this. Is the issue about the existence of HRV data?

I have a local installation of the data tailor and while the data (non-HRV and HRV) *is* in the file, you still need to call the data tailor (epct at the command-line) twice, one for the non-HRV (`HRSEVIRI` product) and one for the HRV (`HRSEVIRI_HRV` product). See https://eumetsatspace.atlassian.net/wiki/spaces/DSDT/page

[2022-08-10 21:16] robertdemariacira opened #2170 "satpy_cf_nc Reader Fails to Read Data Written by cf Writer"
**Describe the bug**
In the documentation, the satpy_cf_nc reader is listed as the reader to use for files written by the cf writer.  When reading a file written by the cf writer, the code throws an exception while looking for an attribute named "instrument" that does not appear to be written by the cf writer.

**To Reproduce**
Create a Scene from a file (a GOES-16 file was used here), then write

[2022-08-11 16:47] gerritholl opened #2172 "Documentation for colorize seems incomplete and built-in enhancements do not follow documented API"
**Describe the bug**

The documentation for `satpy.enhancements.colorize` is unclear and not matched by any of the examples from the enhancements built-in to Satpy.  The documentation states that there are four ways to specify the palette:

https://github.com/pytroll/satpy/blob/dbe2838a5ed825a9a57b0a7449ad939159afbc09/satpy/enhancements/__init__.py#L313-L332

This seems to be incomplete.  None of

[2022-08-11 19:41] lobsiger opened #2173 "MetopC script fails after update to SatPy 0.37"
**Describe the bug**
The script fails under Satpy 0.37 but has always run fine under Satpy 0.35 and Satpy 0.36.
See description and error messages/debug output on the google list in this thread:

https://groups.google.com/g/pytroll/c/RHGLzoAuZjc

**To Reproduce**

I puplished this minimal code together with the 3 data files and area definition on wetransfer (link valid one week):

https://we.tl/t-

[2022-08-12 08:57] mraspaud commented on #2173
@lobsiger Thanks for filing this issue with all the details! I could reproduce the error thanks to your script and data files, I will start debugging this.

[2022-08-12 09:21] mraspaud commented on #2173
Using `git bisect` I can see that dc28b1d50bdd4adb91d782dbc3cf3c474638e0f5 is the first bad commit. Also the script works fine with another composite (`overview`) so I suspect the problem lies in the handling of the 3d enhancement after the enhancement refactoring.

[2022-08-12 09:36] lobsiger commented on #2173
Martin,

I doubt that this is a 3d enhancement problem. The script also fails with 'ir_cloud_day'. Both use AVHRR channel '4'. Interestingly here the script worked with composites=['4']. IIRC my original script also failed with composites=['natural_with_night_fog'].

[2022-08-12 09:46] mraspaud commented on #2173
@lobsiger the 3d effect was still buggy, and I fixed it in https://github.com/pytroll/satpy/pull/2174, and now `ir108_3d` works.
I will check if I get the problem with `ir_cloud_day`.

[2022-08-12 10:35] lobsiger commented on #2173
@mraspaud I was was probably wrong with 'natural_with_night_fog'. Maybe it didn't work because I had a default list of composites=['ir108_3d', 'natural_with_night_fog']. I just tested with satpy 0.37 for different DAY and NIG passes this list:

composites = ['cloud_phase_distinction', 'cloud_phase_distinction_raw', 'cloudtop', 'day_microphysics',  'green_snow',
'natural_color', 'natural_color_raw'

[2022-08-12 10:49] mraspaud commented on #2173
@lobsiger thanks for confirming this. I checked and both `ir_cloud_day` and `ir108_3d` now work with my PR mentionned above. Do you want to try it out?

[2022-08-12 11:02] lobsiger commented on #2173
@mraspaud TBH I do not know how to update just your fix with conda and/or pip. I have no Satpy devel version setup here.
Years back I knew at least how to update from the github master branch. But recently I tried that and it didn't work anymore.
Do you expect me to copy your fix with an editor (I doubt it) ?

[2022-08-12 11:56] gerritholl commented on #2173
@lobsiger Try `pip install git+https://github.com/mraspaud/satpy.git@fix-3d-enhancement`

[2022-08-12 12:50] lobsiger commented on #2173
@gerritholl thanks for that. I have done that under GNU/Linux Satpy 0.37 and the two ir composites now do work!

I also tried just now

pip install git+https://github.com/pytroll/pycoast.git@main

on my Windows 10 setup and it seems to work. Can you confirm that this is the way to directly install from the 'main' branch? As I said above I have tried that before, but it didn't work at that time. I

[2022-08-12 12:56] gerritholl commented on #2173
@lobsiger That would install the main branch, yes.  I think you can leave out `@main` and then somehow pip or git will magically figure out which branch is the reference branch, so it should work in case you don't know if it's main, master, or something else.  Satpy and most other pytroll projects renamed from master to main some time in early 2021, I think.

[2022-08-12 13:19] lobsiger commented on #2173
@gerritholl thanks for that. Renaming explains my 'master'/'main' problem. Is there any chance that I can easily screw up my install if I switch form conda to pip back and forth? As I said I have now updated my Windows 10 and a conda list pycoast says:

pycoast                   1.5.0+50.gb2ad512          pypi_0    pypi

Will conda understand when a pycoast v. 1.6.0 (with Daves PR 63) comes out an

[2022-08-12 13:57] mraspaud commented on #2173
@lobsiger I would be very careful with mixing pypi packages with conda because it can make the environment difficult to update and prone to unexplainable errors/dependency problems.
So I use pip just to install packages that are either not available from conda, or for testing.

[2022-08-12 13:58] mraspaud commented on #2173
also, I consider this a quite serious bug, so when my PR is reviewed and merged, I will try to make a release ASAP.

[2022-08-13 20:51] djhoese commented on #2172
I'm catching up on email after vacation so not sure I understood everything you said, but I'll see what I can answer here. It is a little hard to follow in the code but colorize uses `_merge_colormaps` to create one "appended"/merged colormap from multiple sub-colormaps. Those sub-colormaps are created using `create_colormap`. The `create_colormap` function has grown over time with a lot of new fe

[2022-08-14 00:04] djhoese commented on #2170
I've skimmed the code and I'm not sure how this ever worked. Git tells me that @mraspaud created this and that this "instrument" usage hasn't changed since. Let's see if he has some ideas what's going on here.

[2022-08-14 11:26] simonrp84 commented on #2148
Coming back to this, the problem with `get_angles` is that it returns both sun and sensor angles, even if the user only needs one or the other of these.

How does dask handle that? If the user calls `get_angles` but only actually uses the sun azimuth + zenith then is dask smart enough not to bother computing the satellite azimuth + zenith? If so, there's no need for the `_get_sun_angles` and _`get

[2022-08-14 15:08] djhoese commented on #2148
There are dask diagnostic type things or you can visualize the dask array by doing `.visualize()` on it which can generate an SVG of the overall dask graph. If you generate the graph for one of the sun angles and the graph contains things related to the sensor angles then that's not good. From what I can tell the sun angles should be separate from each other. The satellite angles are generated tog

[2022-08-15 06:32] #2173 closed

[2022-08-15 11:49] mraspaud commented on #2170
Thanks for reporting this. From what I remember, the use case at the time was for viirs data. I'll have a look.

[2022-08-15 11:52] mraspaud commented on #2170
@TAlonglong was involved also, do you remember something?

[2022-08-15 12:08] TAlonglong commented on #2170
No I don't recall. Use case was VIIRS data yes. But I have also used for AVHRR, MODIS and MERSI2.

You can find these data here https://thredds.met.no/thredds/dodsC/remotesensingsatellite/polar-swath/2022/08/15/noaa20-viirs-mband-20220815103032-20220815104443.nc.html

And as you can see there are Instrument in the global attributes

[2022-08-15 15:51] robertdemariacira commented on #2170
@mraspaud Yeah, I should be able to take a look today or tomorrow.

[2022-08-15 19:12] robertdemariacira commented on #2170
@mraspaud Just tested it and it successfully read the data.

[2022-08-16 10:44] BENR0 opened #2179 "MergeError in `to_xarray_dataset` for Scenes containing data from seviri_l1b_nc reader"
**Describe the bug**
When trying to convert Scene containing data read with the `seviri_l1b_nc` reader merging fails. The reason is the `acq_time` coordinate. The option `compat="override"` (which picks the variable from the first dataset) solves the problem.
Another possible solution would be to drop the variable.

**To Reproduce**

[code]

**Expected behavior**
A `xarray.Dataset` should be retur

[2022-08-16 10:49] BENR0 opened #2180 "Better handling of fsspec.filesystem in Scene"
## Feature Request

**Is your feature request related to a problem? Please describe.**
Currently multiple readers already support remote files and hopefully this number will rise in the future.
While it is documented how to use remote filesystems with supported readers, from my point of view it is rather "complex" and relies on URL chaining.

**Describe the solution you'd like**
I think it would b

[2022-08-16 11:57] pnuu commented on #2180
See if https://github.com/pytroll/satpy/pull/2096 provided something that is more usable for you? With it, this should work:
[code]
Some additional information is documented here: https://satpy.readthedocs.io/en/stable/remote_reading.html

[2022-08-16 13:57] BENR0 commented on #2180
@pnuu yes that is exactly what I am refering to. If I don't have the file path as a URL chained string but instead use glob to find files with `fsspec.filesystem` currently I need to use one of the "work around" steps I described above. What I would like is some changes to the feature introduced in #2096 to be able to hand over a `fsspec.filesystem` and the list of files returned by the glob of th

[2022-08-16 13:58] pnuu commented on #2180
What if you don't use `glob` directly, but just pass the glob pattern as filename like I showed above?

[2022-08-18 07:46] BENR0 commented on #2180
Yes of course that works but it still think this could be improved for a number of reasons:
- it generally limits the use of other features of `fsspec.filesystem`s (e.g. use find instead of glob, etc)
- the Scene loading and the downloading of the data can't be decoupled
- groupby's on the file list are not possible
- arguments to the filesystem have to be passed as a dictionary, which is "counter

[2022-08-19 01:34] djhoese commented on #2180
@BENR0 This suggestion was actually very similar to what I originally proposed (pass a filesystem object down to the reader(s)) but was eventually overruled by Martin's idea to have an object that wraps this "stuff". The end goal for me and why I was OK losing this argument was for two reasons (at least that I can think of right now):

1. It avoids more keyword arguments being added to all levels

[2022-08-19 07:02] mraspaud opened #2183 "Reading bzipped Seviri HRIT segment crashes when reading the data from disk"
**Describe the bug**
Reading bzipped Seviri HRIT segment crashes when reading the data from disk. It looks like the unzipped file is removed before the data can actually be read

**To Reproduce**

[code]

**Expected behavior**
I expect the computed array to be returned

**Actual results**
Instead, I get a crash with the following output:
[code]

The log before that:
[code]

**Environment Info:**

[2022-08-19 07:02] mraspaud commented on #2183
@pdebuyl @simonrp84 Have you seen anything like this?

[2022-08-19 07:44] TAlonglong opened #2184 "process time increase from 0.36.0 to 0.37.0 when streaming netcdf over opendap"
## Feature Request

This is neither a bug nor a feature I think, but anyway.

So I have a simple script to open, load, resample and save a composite png to file with data from a thredds server with opendap.
[code]

If run like this `python test-thredds-satpy-netcdf.py https://thredds.met.no/thredds/dodsC/remotesensingsatellite/polar-swath/2022/08/18/npp-viirs-iband-20220818102458-20220818103910.nc

[2022-08-19 07:51] TAlonglong commented on #2184
I might add both 0.36.0 and 0.37.0 produce the same image
![hr_overview-20220818-102458](https://user-images.githubusercontent.com/19924146/185570746-73cb8398-c9c5-4a86-908d-45e70823aab2.png)

0.37.0 just uses longer time.

[2022-08-19 11:54] pdebuyl commented on #2183
Yes, I have a similar issue, even using a test program from I developed the feature...

Going to commit `34c360e9a2c33c4998b0e6847d7b8286d7ec41fd` solves it.

[2022-08-19 11:55] pdebuyl commented on #2183
`f4613e8de2cee4c78800d389c20d1e6dc5dcdb44` breaks the feature

[2022-08-19 11:57] pdebuyl commented on #2183
You can't put the `data = da.from_array(data, chunks=shape[0])` outside of the `unzip_context` context.

The issue is that it would leave all unzipped files laying around. At the time, we found no way to keep a "deletion marker" for such files. There can't be lazy reading of bz2 files with the current code.

[2022-08-19 12:29] mraspaud commented on #2183
@pdebuyl thanks for the confirmation. I'm working on a PR to solve the issue, by making the reading eager, but inside a delayed dask task, see #2185

[2022-08-19 13:05] pdebuyl commented on #2183
I am not familiar with dask but I can test the code when the PR is ready if you wish.

[2022-08-19 13:19] pnuu opened #2186 "FCI L1c reader is single threaded"
**Describe the bug**
While working on https://github.com/pytroll/satpy/pull/2182 and debugging the slow-down it caused, I noticed that the current implementation of `fci_l1c_nc` reader is single-threaded until the writing starts.

**To Reproduce**

[code]

**Expected behavior**
Adjusting the `DASK_NUM_WORKERS` variable should affect the CPU usage. In the above example, the CPU load should be aroun

[2022-08-19 13:30] pnuu commented on #2186
The same is seen when loading a bunch (20) composites instead of the single one.

[2022-08-19 13:37] mraspaud commented on #2183
Thanks! the PR is not ready, but the changes included now should already fix the problem if you want to give it a spin.

[2022-08-19 15:49] djhoese commented on #2184
Is it *only* slow for the remote streamed file or is local file processing slower too? What about loading a single band? What about doing `.compute()` on the DataArray instead of saving it to disk? Put another way, how much of this example script can we take away and get similar performance. Has anything change in the reader(s) between the versions?

[2022-08-21 14:52] lobsiger opened #2188 "The Trouble with MODIS"
**The trouble**
In my GEO and LEO scripts I use delayed composite generation setting generate=False for speed. The issue is seen with Aqua and Terra MODIS data from EUMETCast. Using generate=False I get ugly big pink stains in images with composite 'true_color_thin'. No problem with other composites (so far) and with generate=True. I suspect that different possible resolutions in channels produce

[2022-08-21 20:29] djhoese commented on #2188
Until @mraspaud can give a better guess, my guess is that this has to do with the `FillingCompositor` which the "thin" composites use. If this filling operation is performed after resampling then you get all the weirdness of resampling, like fill pixels being used or not used in certain places and differences depending on what resolution is being used (I'm not super familiar with the thin files).

[2022-08-22 05:42] pnuu commented on #2186
Instead of resampling and saving, doing

[code]

shows the same performance issue:

![Screenshot 2022-08-22 at 08-37-51 Bokeh Plot](https://user-images.githubusercontent.com/3170788/185847159-d0a7eb55-6d48-4b1c-9498-5ea3df51c776.png)

[2022-08-22 06:58] lobsiger commented on #2188
@djhoese one thing I noted is that when imaging MODIS channels '10' or '12', used by 'true_color_thin',  I get these coarse stains as 'pixels' in both cases (generate=True or generate=False). If the filling compositor HAS TO be performed after resampling in the case of generate=False then this is rather a feature than a bug? But then a couple of other composites may have this feature as well. IIRC

[2022-08-22 08:08] BENR0 commented on #2180
@djhoese yes I totally agree with point one. Even though I mentioned adding a fs keyword to the Scene as an option I personally don't like that idea that much exactly for the reason you mentioned. That's why I think, even though it might look a little "hacky", the "feature" I am looking for could be added without to much complication by adding the fs keyword to the `reader_kwargs" dict and expand

[2022-08-22 08:15] TAlonglong commented on #2184
0.36.0 local file ( i.e. over nfs mounted disk)
[code]
[code]

0.37.0
[code]
[code]

So: Reading from file ( over nfs mount) gives approx same timing.

Next try to remove part of the script to see where to versions differ.

[2022-08-22 08:39] TAlonglong commented on #2184
Looking 0.37.0

Stripping down the script to just load `I01`
[code]
This is interresting: 0.37.0 loading only `I01` takes just 2 seconds
[code]

while loading the `hr_overview` composite takes 4 minutes:
[code]
[code]

[2022-08-22 08:51] TAlonglong commented on #2184
For 0.36.0 loading `hr_overview` takes less than 2 seconds
[code]
[code]

And loading only `I01` takes also less than 2 seconds:
[code]
[code]

[2022-08-22 08:54] TAlonglong commented on #2184
The only difference I can spot is that 0.37.0 when assigning to satpy_cf_nc is using `FSFile` and then I'm guessing 0.36.0 uses some native when loading the file.

[2022-08-22 12:17] mraspaud commented on #2188
Indeed, sounds like a problem with the filling compositor in combination with the resampler. I think we have another keyword called 'mask_data' to the resampler, maybe setting it to true would help?

[2022-08-22 13:21] djhoese commented on #2188
It looks like it is `mask_area` and it doesn't seem to make a difference for me.

[2022-08-22 13:40] djhoese commented on #2184
Just to be clear, in your trimmed down script, you are still resampling and saving? Or are you calling `.compute()` on that result?

[2022-08-22 13:43] TAlonglong commented on #2184
If you look at my trimmed down script you see its, no, no and no.

[2022-08-22 13:48] djhoese commented on #2184
Wow, so that is purely just the reader. Ok, ok. We may need to bring @pnuu into this who might have an idea. My guess is this is causing xarray to use h5netcdf and streaming the bytes directly to the library whereas before OpenDAP inside the NetCDF C library was getting the `http` URL directly and was able to intelligently parse it.

I'm not sure how to have both #2096 and OpenDAP URLs at the same

[2022-08-22 16:59] adybbroe opened #2189 "Supported readers page does not include many readers"
**Describe the bug**
The table with the supported readers at the RTD pages does not seem to update correctly.
I was looking for the EPSSG MWI/ICI which was added by a recent PR, but can't find them?

**To Reproduce**

[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

**Actual results**
Text output of actual results or error messages including full trace

[2022-08-22 17:53] djhoese commented on #2189
The problem isn't that it isn't updating, it is that it is completely not including readers that are missing dependencies on the readthedocs environment.

CC @BENR0

[2022-08-23 05:44] TAlonglong commented on #2184
So I did some digging in the code and the _decision_ of filetype is done here I think:
https://github.com/pytroll/satpy/blob/main/satpy/utils.py#L634-L647

[2022-08-23 06:32] mraspaud commented on #2184
I understand what you want to achieve, however it's a minority of readers which can read directly from http/https. I would recommend instead a little mechanism in the netcdf readers to check what protocol the fsfiles represent, and pass the link directly if it turns out to be http/https.

[2022-08-23 06:35] mraspaud commented on #2184
like here: https://github.com/pytroll/satpy/blob/main/satpy/readers/satpy_cf_nc.py#L287

[2022-08-23 07:32] #2183 closed

[2022-08-23 08:26] TAlonglong commented on #2184
So something like this in the `satpy_cf_nc` reader in `get_dataset` just before the call to `xr.open_dataset`
[code]
It looks very ugly.

Unfortunately I'm not able to repeat the test, or I can run the test, but I don't see any difference any longer. SO I don't know what happened.

[2022-08-23 12:39] mraspaud commented on #2184
when you tried you were away, right? could it be that you are too close to the data source now? I'll test from here, see if I can see it.

[2022-08-23 12:45] mraspaud commented on #2184
Just loading runs in about 3 seconds from my computer, independently of the version (0.36.0, 0.37.0, main)...

[2022-08-23 13:28] pnuu commented on #2184
Same here. Just did `mamba update --all` and updated to latest Satpy `main` and the whole example script (the `I01` variant) takes only 3 seconds to run.

[2022-08-24 06:44] mraspaud commented on #2186
Is this because the netcdf library doesn't support parallel reading?

[2022-08-24 11:37] pnuu commented on #2186
ABI processing is done in parallel, so at least it isn't the NetCDF C library that is stopping the parallel processing. And the FCI data are processed in single thread independent of the Python library (netCDF4 on `main` or h5netcdf in my PR #2182).

[2022-08-24 14:06] emirhanaigoritma opened #2192 "Available Readers Problem"
**Available Readers doesn't contain any grb readers**
When I try to read my grb file, with the following code, it can not read it. Because the grb reader is not included in available readers.

**To Reproduce**

[code]

**Expected behavior**
I tried to investigate my readers via: anaconda3->envs->myenv->lib->python 3.9->site-packages->satpy->readers
In this "readers" folder, seviri_l2_grib reader i

[2022-08-24 14:24] djhoese commented on #2192
Hi, thanks for filing this issue. Could you try running the `check_satpy` function as described here:

https://satpy.readthedocs.io/en/stable/quickstart.html#troubleshooting

This will likely reveal that you are missing a dependency like `pygrib` which I think is a dependency for this reader you are trying to use. Sorry about the confusion.

[2022-08-25 09:58] emirhanaigoritma commented on #2192
thank you!!

[2022-08-25 12:24] #2192 closed

[2022-08-25 13:31] #2189 closed

[2022-08-25 13:38] djhoese commented on #2154
It's been about a month and you haven't provided any additional information. I'm going to close this until more information is given.

[2022-08-25 13:38] #2154 closed

[2022-08-25 21:01] simonrp84 opened #2194 "Gradient search and bilinear resampling not working as expected."
**Describe the bug**
The `gradient_search` resampling method accessed through satpy is incorrectly giving a `Source and destination areas are identical.` error when resampling GOES-16 ABI data. If I use the `bilinear` method instead then the resulting image has a significant amount of speckle (black, missing, pixels) even if I set the `radius_of_influence` to an exceptionally high number.

**To Re

[2022-08-29 12:58] #2170 closed

[2022-09-04 10:43] Anebrithien opened #2199 "Missing `EARTH_RADIUS` in mapping satellite's geodetic coordinates to cartesian coordinates while doing parallax correction"
**Describe the bug**

Mapping geodetic coordinate to cartesian coordinates should use radial distance.

For a satellite, its radial distance is `EARTH_RADIUS + satellite_altitude` instead of `satellite_altitude`.

**To Reproduce**

Copy codes from

https://github.com/pytroll/satpy/blob/687494c6887f54b1991fe8accf1c071307b542ad/satpy/modifiers/parallax.py#L158

I have codes below.

[code]

**Expecte

[2022-09-05 08:18] mraspaud commented on #2199
@Anebrithien thank you for submitting this issue. The expert on the matter is on holidays right now, but will be back in a couple of weeks time. However, from my understanding of that function, you fix looks correct. Do you have some images that show the changes produced by your fix?

[2022-09-05 13:44] mraspaud commented on #2186
@pnuu did you have any time to look further into this? maybe @ameraner has an idea?

[2022-09-06 05:27] pnuu commented on #2186
Unfortunately no. I'm not sure where would I even start..

[2022-09-06 07:34] ameraner commented on #2186
Sorry, I wouldn't really know where to look for either. Can we exclude that this is an issue with the base `NetCDF4FileHandler`, i.e. that this is specific to the FCI reader?

[2022-09-06 08:10] pnuu commented on #2186
It looks like it's only the `NetCDF4FileHandler`. For example the `abi_l1b` reader, which is independent of this and uses XArray instead of using neither `netCDF4` nor `h5netcdf`directly, is very much parallel.

[2022-09-06 11:46] djhoese commented on #2186
If inside the file handler, or even the netcdf handlers `__getitem__` method, you did `data = data.persist()` does it change the results? That should theoretically take out the netcdf utility's usage of the file from the equation.

Another thought I had is is the compression used by these files a new/non-traditional algorithm that may have code that is locking or isn't unlocking something when it

[2022-09-06 11:54] djhoese commented on #2186
One more thought: could there be a dask array used as one of the xarray coordinates that is being used in a calculation and forcing everything to a single chunk?

[2022-09-06 14:12] djhoese commented on #2186
@pnuu could you comment here what version of the netcdf python and C libraries you have installed?

[2022-09-06 14:15] pnuu commented on #2186
h5netcdf                  1.0.2              pyhd8ed1ab_0    conda-forge
libnetcdf                 4.8.1           nompi_h329d8a1_102    conda-forge
netcdf4                   1.6.0           nompi_py39hf5a3a3f_100    conda-forge

[2022-09-06 14:59] mraspaud commented on #2186
I tried this (second variant, just computing the channel without saving or resampling) and seem to get something multithreaded.
![image](https://user-images.githubusercontent.com/167802/188668678-42cfd3d8-2988-467c-9112-6ddca0e5648c.png)
Note this is on compressed FCI data. Same versions of libnetcdf and netcdf4.

[2022-09-06 18:26] djhoese commented on #2186
Can someone give me some FCI data to play with? I tested @pnuu's original script with VIIRS L1b data which uses the same utility class and don't see any single-threaded behavior. I'll try a few different things with the VIIRS data and see if I can recreate a single-threaded CPU usage.

[2022-09-06 18:44] djhoese commented on #2186
Doing:

[code]

in the netcdf helper class changes the chunk size a ton. I go from:

[code]

to:

[code]

This may be the bug @ameraner pointed out. Note that with this new chunk size I hover around 100% CPU usage. Here's my script:

[code]

[2022-09-06 18:47] djhoese commented on #2186
This fixed this issue for me for VIIRS L1b, but it sounds like this isn't the problem with FCI data since you already have multiple files being loaded and should still see multiple workers being used:

[code]

[2022-09-07 05:45] pnuu commented on #2186
Test data are available from here: https://sftp.eumetsat.int/public/folder/UsCVknVOOkSyCdgpMimJNQ/User-Materials/Test-Data/MTG/MTG_FCI_L1C_SpectrallyRepresentative_TD-360_May2022/

[2022-09-07 06:00] pnuu commented on #2186
I think the plot is missing most of it. For me it took 8.766.. seconds to complete the whole script. This is what I got with `glbl['ir_105'].compute()`:

![Screenshot 2022-09-07 at 08-59-45 Bokeh Plot](https://user-images.githubusercontent.com/3170788/188800110-3a0703f4-78c9-4c6f-88b3-ea3ed698f702.png)

The beginning looks the same.

[2022-09-07 06:32] mraspaud commented on #2186
oh, ok. Yeah, since I can't get the resource profiler to plot anything, it's difficult for me to see.

[2022-09-07 17:54] djhoese commented on #2186
@pnuu @mraspaud can you both try turning off caching in the file handler? I know @pnuu said he tried it, but I'm getting an error that makes it seem like you didn't :wink:

I manually edited the netcdf_utils.py file to look like this:

[code]

That is, force cache var size and cache_handle to their defaults. When I run this with the below script I get this error:

[code]

Here's my script:

[code]

[2022-09-07 17:55] djhoese commented on #2186
And if I keep the cache size to 0 but enable handle caching then I get:

[code]

[2022-09-07 18:17] djhoese commented on #2186
FYI doing `.persist()` inside the file handler doesn't seem to do anything as far as CPU usage which remains hovering around 100%. This made me wonder/realize that maybe the work being done is just so "simple" that it doesn't actually need more than one CPU at a time.

New separate thought: maybe we can/should cache the xarray Dataset objects for each group...eh nevermind xarray is probably alread

[2022-09-07 18:57] djhoese commented on #2186
I'm playing around with hacking some map_blocks calls and leaving OMP threads at 4 (in case numpy operations use OMP and would use multiple threads), and something odd is going on:

![image](https://user-images.githubusercontent.com/1828519/188956121-2be53e26-b667-40d8-99a2-f6d1ad15c8b5.png)

I counted and added print statements and my synthetic `map_blocks` usage is definitely happening at the la

[2022-09-08 07:35] pnuu commented on #2186
If I set *only* `cache_var_size = 0`, I get this:
[code]

If I set *only* `cache_handle = False`, the processing works.

If I set `cache_var_size = 0` *and* `cache_handle = False`, I get this:

[code]

[2022-09-08 10:57] djhoese commented on #2186
Ok so I would consider that a bug and I think something @ameraner and @gerritholl and I talked about (the netcdf utility returning a dask array or an xarray DataArray depending on what caching you're using).

Either way, I'm starting to think that either the processing being done in our tests is not complex enough to show multi-threaded-ness or the GEOVariable reader class (the one that uses the f

[2022-09-08 11:38] pnuu commented on #2186
This is what I get with 20 composites, some of which are day/night combinations:
![Screenshot 2022-09-08 at 14-34-38 Bokeh Plot](https://user-images.githubusercontent.com/3170788/189112486-6ab1b684-8932-4f64-a907-4823c944ac13.png)

The tasks in the graph are mostly gradient search, but there are also some which are from colorizing. So could the flat 100 % CPU usage in the beginning be purely the m

[2022-09-08 20:11] djhoese commented on #2186
Ok I think I've found a bug in dask's diagnostics tools. They assume that when they `__enter__` their context managers that dask computation has started. So in my case it was putting all the dask stuff at the beginning even though they didn't actually start until the end of the execution. So I've added a couple things to my script to fix this. First, here is the correct graph:

![image](https://us

[2022-09-09 10:12] matzech commented on #1768
Hi!

Is there an update how to read AMV with satpy?

[2022-09-09 14:21] mraspaud commented on #2186
See also https://github.com/dask/dask/issues/9478

[2022-09-09 18:21] lobsiger commented on #2188
@mraspaud and @djhoese I made some more experiments including MODIS multiscene also described on the google list.

https://groups.google.com/g/pytroll/c/BejWK4jiEc4

I'm not sure that the filling compositor is the (only) culprit here. I also get weird results if I only image single channel '12'. After coding one day to make my scripts automatically use generate=TRUE for 'true_color_thin' (and mayb

[2022-09-11 12:48] lobsiger commented on #2194
@simonrp84 maybe some problems are related to what I see when testing 'bilinear' and 'gradient_search' for LEOs:

https://groups.google.com/g/pytroll/c/8Fpo9QszZyc

?

[2022-09-12 12:47] sfinkens commented on #1929
Closed by @pnuu 🙂

[2022-09-12 12:47] #1929 closed

[2022-09-12 20:29] pdebuyl commented on #536
Hi all,

Late to the party, but I am interested in the question. GOES and Himawari data seem already corrected. The Product User Guide for GOES states that

using information provided in the product. For the reflective bands, conversion from radiance Lν to
reflectance factor ρf υ is computed as:

equivalent radiance, where d is the instantaneous Earth-Sun distance (in Astronomical Units) ...

But

[2022-09-13 07:20] pnuu commented on #2186
I started playing with possible solution 2, by yielding delayed file handlers in

https://github.com/pytroll/satpy/blob/main/satpy/readers/yaml_reader.py#L509

and then computing them in

https://github.com/pytroll/satpy/blob/main/satpy/readers/yaml_reader.py#L599

when passing to file handle filtering. Without computing, the filtering won't work due to delayed objects being immutable.

![Screensh

[2022-09-13 07:47] pnuu commented on #2186
Refactoring

https://github.com/pytroll/satpy/blob/main/satpy/readers/yaml_reader.py#L694-L701

and using `dask.delayed`, computing the slices and then collecting the usable slices seemed to be doing nothing for the task graph nor performance. I think I'm way of my depth here, but I'll play with this a bit more.

[2022-09-13 07:49] pnuu commented on #2186
And this is what I tried:
[code]
and
[code]

Yeah, I switched the logic of failure around..

[2022-09-13 08:45] lobsiger commented on #2188
Testing different resamplers I had these most unexpected results:

1) The 'bilinear' resampler is the only resampler that can do the
   composite 'true_color_thin' without the ugly pink stains in
   both settings generate=True and generate=False.

2) Thin MODIS data from Terra behave differently from thin MODIS data
   from Aqua. The 'bilinear' resampler can resample 'natural_color'
   from Terra

[2022-09-16 15:09] #1672 closed

[2022-09-18 09:31] gersmit opened #2202 "AttributeError: 'AreaDefinition' object has no attribute 'crs'"
Good morning,

I have a quick question:
Continuously ran on my Raspberry pi with Satpy and other necessary programs for making satellite images.
There was an error on the sdcard and I reinstalled the image I made of the properly working system.
Perfect except for one thing.
I'm getting an error now and can't figure out where it comes from.
Can you help me?

Many thanks in advance, Ger

The Error =

[2022-09-18 11:58] djhoese commented on #2202
This likely means the version of pyresample is old. Try updating and see how it goes.

[2022-09-18 13:20] gersmit commented on #2202
@djhoese, thank you, everything is working fine now. I can continue.

[2022-09-18 13:54] #2202 closed

[2022-09-20 14:55] joleenf opened #2204 "CLAVRx Reader for AHI data misses CLAVRx files with naming convention that retains full AHI original name."
**Describe the bug**
The CLAVRx reader has based the input AHI filename on a shortened version of that filename which typically is not generated by the CLAVRx processing routine, but is a branch that usually does not survive updates.  Therefore, files routinely produced by the CLAVRx processing routine are not found with find_files_and_readers.
**To Reproduce**

Attempting to load a filename of cl

[2022-09-20 14:58] djhoese commented on #2204
Thanks @joleenf. Could you make a pull request with the new pattern(s)?

I think when the original file pattern was added the AHI support in clavrx was very experimental so I'm not surprised at this missing functionality. When you talk about the CLAVRx processing routine, do you mean the CLAVRx team generating these products operationally or the default filename scheme used by the CLAVRx software?

[2022-09-26 13:33] joleenf commented on #2204
We are discussing if this current filename (with the original resolution tag from H8 filename) is appropriate (CLAVRx is 2km resolution).  I am going to hold off on changing the CLAVRx reader until the CLAVRx team is settled on what the actual product filename should be in this case.

[2022-09-27 05:20] biechifanle opened #2206 "If you do `python -c "import scipy.sparse"` do you get a similar error?"
can run pip install -i https://pypi.tuna.tsinghua.edu.cn/simple scipy==1.7.3

[2022-09-27 06:36] mraspaud commented on #2206
I think you have the wrong repository here, this is satpy, not scipy.

[2022-09-27 06:36] #2206 closed

[2022-09-27 06:46] biechifanle commented on #2206
Oh yes, in fact I am running the mrcnn model, but I am using the tf 2.x version, which caused a lot of errors.

[2022-09-28 14:51] sjoro commented on #1768
hi, @matzech
@manucarran just opened a pull request for AMV L2 support https://github.com/pytroll/satpy/pull/2207

[2022-09-28 15:42] TAlonglong opened #2208 "hy2_scat_l2b_h5 reader does not work any more due to space in `valid range` attribute"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**

[code]

**Expected behavior**
The wind_speed_selection should be read without any error messages.

**Actual results**
[code]

**Environment Info:**
 - OS: Linux
 - Satpy Version: 0.37.2 from main
 - PyResample Version:
 - Readers and writers dependencies (when relevant): [run `from satpy.utils import check_

[2022-09-28 16:03] TAlonglong commented on #2208
https://github.com/pytroll/satpy/commit/beea49b166d2f78ca94dce8c2369794ef539b6ac

Hehe. Look who to blame!

So the change still made the test pass. So I will need to look into both the reader and the test.

I did not discover this since I was running an old satpy version. Working with updating this today revealed it.

Oh well.

[2022-09-28 19:13] TAlonglong commented on #2208
I don't get this. The tests works, but real data does not. So there are something in the test which not reflect the case in the real data.

If I print out some debug, for the test I see the `valid range` is changed to `valid_range` in the reader it both data and self. but for real data only the data is changed. Not self.

Is self protected somehow I donæt understand, but in the tests this is part

[2022-09-28 19:35] TAlonglong commented on #2208
https://docs.xarray.dev/en/stable/generated/xarray.where.html

[2022-09-29 11:46] sjoro opened #2212 "Add more metadata in Satpy reader YAML-files for categorical datasets"
## Feature Request
When reading a categorical dataset, e.g. SEVIRI Cloud Mask product, the user ends up with a data-array with some integers in it. In the example case here, `seviri_l2_grib` does not provide any information on what these cloud mask values mean and the user needs to find this information online in a user manual.

**Describe the solution you'd like**
Satpy-reader should provide the

[2022-09-29 12:04] sjoro opened #2213 "Update `li_l2`-reader to read MTG LI L2 test data"
## Feature Request

**Is your feature request related to a problem? Please describe.**
The current `li_l2`-reader does not support reading of the EUMETSAT released LI L2 test data.
https://www.eumetsat.int/new-li-test-data-released-2021

**Describe the solution you'd like**
Update the reader to support the latest test data.

**Describe any changes to existing user workflow**
None

[2022-09-29 12:14] sjoro commented on #2213
EUM has a project planned to carry out this update, delivery could be expected in Jan 2023. In the meanwhile we look into a possibility to make a draft-PR shortly with the reader we already have in house (in order to allow users to explore the test data already now). The reader will need a some refactoring + fixing the unittests accordingly.

[2022-09-29 14:03] djhoese commented on #2212
Your suggestion is exactly what I was going to suggest. In most readers that are NetCDF-based this is already done since most NetCDF creators try to follow (or almost follow) CF conventions. Parts of Satpy and Pyresample even treat datasets differently if they have `flag_meanings` defined. I think if the file doesn't provide that information then putting it in the YAML makes sense.

[2022-09-29 16:22] gerritholl opened #2214 "make satpy._config public API"
## Feature Request

**Is your feature request related to a problem? Please describe.**

I would like to directly search for a configuration file that may be anywhere in `SATPY_CONFIG_PATH`.  This is possible with Satpy:

[code]

However, as indicated by the leading underscore in the `_config` module, this is not considered public API.

Why would I like to do this?  I'm updating an internal piece o

[2022-09-29 16:43] mraspaud opened #2215 "Abi l2 nc reader can't handle AOD product"
**Describe the bug**
The ABI l2 nc reader lists AOD in the yaml configuration, but actually trying to create a filehandler for it fails.

**To Reproduce**

[code]

**Expected behavior**
I would expect the scene to be created

**Actual results**
[code]

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Environment Info:**
 - OS: Linux
 - Satpy Version: main brance

[2022-09-29 17:27] djhoese commented on #2215
I just checked and the CSPP Geo Beta release does not produce files with the same variables as the AWS files. The AWS files have variables and attributes like this:

[code]

The file says it is CF 1.7. This syntax/scheme is probably closer to CF 1.10 as I found it described here: https://cfconventions.org/Data/cf-conventions/cf-conventions-1.10/cf-conventions.html#use-of-the-crs-well-known-text-fo

[2022-09-29 17:29] djhoese commented on #2215
Ah nevermind, maybe the `x_image` and `y_image` part are accurate. They are scalar variables with metadata about the axes. I still think the two grid mappings in one attribute is wrong.

[2022-09-29 17:33] djhoese commented on #2215
Nevermind one more time, the two grid mappings is fine and is used to describe a single grid in both lon/lat space and in x/y space. I do think the `x_image` and `y_image` variables referenced should be `x` and `y` since these are the non-scalar versions. I don't think `latitude_bands` is correct...or rather it isn't correct that the 1D variables in this file have 1D and 2D grid mappings.

[2022-09-29 18:04] djhoese commented on #2214
We can't make it `satpy.config` because that is the name of the main config object. If you want to import `config_search_paths` in `satpy/__init__.py` as a top level public function I'm OK with that. I'd also be OK moving `_config` or parts of it to a new module like `config_paths.py` or something. Other suggestions more than welcome.

[2022-10-04 17:26] #2215 closed

[2022-10-07 09:21] gerritholl opened #2222 "reader table should link to reader documentation"
## Feature Request

**Is your feature request related to a problem? Please describe.**

Since recently, Satpy has a nice [reader table](https://satpy.readthedocs.io/en/stable/index.html#reader-table) included with the documentation.  However, the entries of this table do not link to the detailed documentation for each reader.  For example, I see the entry for `satpy_cf_nc`, but to get to the detai

[2022-10-07 09:27] gerritholl opened #2223 "satpy_cf_nc reader could be more liberal in filename acceptance"
## Feature Request

**Is your feature request related to a problem? Please describe.**

The `satpy_cf_nc` reader is needlessly restrictive in its filename acceptance.  It only accepts filenames with the pattern `'{platform_name}-{sensor}-{start_time:%Y%m%d%H%M%S}-{end_time:%Y%m%d%H%M%S}.nc'` (and `'{platform_name}-{sensor}-{resolution_type}-{start_time:%Y%m%d%H%M%S}-{end_time:%Y%m%d%H%M%S}.nc'`, b

[2022-10-07 10:05] gerritholl opened #2224 "CF writer does not respect `fill_value` argument"
**Describe the bug**

The [`CFWriter.save_dataset`](https://satpy.readthedocs.io/en/stable/api/satpy.writers.cf_writer.html#satpy.writers.cf_writer.CFWriter.save_dataset) method accepts a `fill_value` parameter.  This parameter is documented, but appears to be ignored and has no effect on the file written.

**To Reproduce**

[code]

And checking the result with:

[code]

**Expected behavior**

I e

[2022-10-07 11:12] djhoese commented on #2223
I think @BENR0 has a PR somewhere that does this. I'm on mobile so can't easily find it.

[2022-10-07 11:26] BENR0 commented on #2223
yes there is: [#1637](https://github.com/pytroll/satpy/pull/1637) but it is still marked as draft

[2022-10-07 12:40] gerritholl commented on #2223
It doesn't seem that #1637 is actually making the reader more liberal than current main, but rather adapting the default from the writer?

[2022-10-07 13:19] BENR0 commented on #2223
I think it does by adding `'{filename}.nc'` as a file name pattern to the reader yaml.

[2022-10-07 13:39] gerritholl commented on #2223
You're right, I overlooked that!

[2022-10-07 13:48] gerritholl opened #2226 "satpy_cf_nc reader fails to read area written by cf writer"
**Describe the bug**

I'm writing a data variable to a NetCDF file using the cf writer, then reading it with the satpy_cf_nc reader.  Upon reading, no area information is available.

**To Reproduce**

[code]

**Expected behavior**

I expect all area/geolocation information to be retained.

**Actual results**

The writtes has written a NetCDF file that contains a data variable `wcm40km` with an att

[2022-10-07 13:52] gerritholl commented on #2226
If I try the built-in area `worldeqc30km` instead of our local `wcm40km`, the bug still occurs and the area is unavailable.

[2022-10-07 13:56] gerritholl commented on #2226
Temporarily replacing `logger.debug` with `logger.exception` in `SatpyCFFileHandler.get_area_def` reveals a `ValueError` is raised in `pyresample.utils.cf.load_cf_area` (which is then caught in `get_area_def`):

[code]

[2022-10-07 14:00] djhoese commented on #2226
That grid mapping variable looks like it is missing a lot of parameters it is supposed to have.

[2022-10-07 14:01] gerritholl commented on #2226
Right, when I try to use `eurol` the grid mapping variable has much more metadata:

[code]

[2022-10-07 14:03] djhoese commented on #2226
Before saving to netcdf, what do `ls['C13'].attrs['area'].crs.to_cf()` give you?

[2022-10-07 14:06] gerritholl commented on #2226
For `worldeqc30km`, it gives:

[code]

For `eurol`, it gives:

[code]

[2022-10-07 14:11] gerritholl commented on #2226
Is all this extra information actually necessary, though?  Isn't that redundant compared to a WKT that should fully describe the area?

[code]

also contains only one key in the grid mapping dict.

[2022-10-07 14:17] djhoese commented on #2226
Yep, that's it @gerritholl.

https://cfconventions.org/Data/cf-conventions/cf-conventions-1.7/build/apf.html

https://github.com/pyproj4/pyproj/blob/main/pyproj/crs/_cf1x8.py

So the question is: Should the CF->AreaDefinition conversion in pyresample accept this and fallback to use the crs_wkt? Or should the CF writer in Satpy fail if it detects that the CRS is not CF (1.7?) compliant?

[2022-10-07 14:20] djhoese commented on #2226
@gerritholl the question is what is CF compliant and what do we support? I think @snowman2 has argued with the CF folks for a while now that WKT is how they should be describing their CRSes and not having to manually add new projections with new parameter/attribute names for each new revision of the CF standard (we don't need yet another way of describing CRSes, PROJ has enough as it is). I think

[2022-10-07 14:39] gerritholl commented on #2226
From https://cfconventions.org/Data/cf-conventions/cf-conventions-1.10/cf-conventions.html#appendix-grid-mappings:

It would seem that the grid mapping returned by pyproj is not CF-compliant for CRS 4087, which is why the round-trip fails between the `cf` writer and the `satpy_cf_nc` reader.  This could be resolved by making the `satpy_cf_nc` reader able to work with the `crs_wkt` attribute alone,

[2022-10-07 15:01] snowman2 commented on #2226
It does a best effort. If the CF grid mapping does not exist, the `crs_wkt` is the only attribute that can be provided. It won't work in some of the CF software, but it is compatible with most geospatial software. See: https://corteva.github.io/rioxarray/stable/getting_started/crs_management.html

[2022-10-07 15:59] gerritholl commented on #2226
For EPSG 4326 the problem is different.  The `standard_name` on `y` is `projection_y_coordinate` in `m`, which is wrong for EPSG 4326, as `y` should be `longitude` with units `degrees`.  I'll open a separate issue for that.

[2022-10-07 16:08] gerritholl opened #2227 "CF writer output wrong for area with geographic CRS"
**Describe the bug**

When writing to a geographic CRS, meaning unprojected with lat/long coordinates, the Satpy `cf` writer output is incorrect.

**To Reproduce**

[code]

**Expected behavior**

I expect a CF-conform file.

**Actual results**

All seems file from the console output:

[code]

But the NetCDF file is wrong:

[code]

Note how the x- and y-coordinates are reported to have standard nam

[2022-10-08 15:20] yukaribbba opened #2228 "Question: Why the ellipsoid of a geostationary satellite image is not typical WGS84?"
Part of gdalinfo result from a GK-2A image, which is generated by a normal satpy script.
[code]
The reverse flattening is a little bit different from WGS84's 298.257223563

[2022-10-08 17:44] djhoese commented on #2228
This isn't up to us. We just read it from the file metadata. You'd have to ask NOAA, JMA, and KMA who made the ABI/AHI/AMI instruments on the GRS80 datum/ellipsoid. I'm not sure why that information/label "GRS80" doesn't always make it into the WKT in the geotiff.

[2022-10-10 12:22] yukaribbba commented on #2228
OK got it.

[2022-10-10 12:22] #2228 closed

[2022-10-10 12:40] strandgren commented on #2212
Just for the record this functionality is briefly mentioned in issue #1921 as well.

[2022-10-11 08:34] ghansham commented on #2134
I will try the one you mentioned.

On Tue, 28 Jun, 2022, 18:44 strandgren, ***@***.***> wrote:

[2022-10-13 03:01] RobWatersMet opened #2233 "'cached_property' from 'functools' - seems incompatible with python3.7"
**Describe the bug**
Installed via conda-forge with python 3.7

ImportError: cannot import name 'cached_property' from 'functools' (/home/rob/miniconda3/envs/sat_rgb/lib/python3.7/functools.py)

**To Reproduce**
conda create -n  test python=3.7
conda install -c conda-forge satpy

[code]

**Expected behavior**
enforce python >=3.8 in setup.py rather than 3.7

**Actual results**

(sat_rgb) rob@MS009

[2022-10-13 05:49] pnuu commented on #2233
Python 3.7 support was dropped in May 27, 2022 with https://github.com/pytroll/satpy/commit/90ceb7354bb98196dd54c53fe68e1ce5e938281c

It seems that the conda-forge recipe still has `>=3.7` in it: https://github.com/conda-forge/satpy-feedstock/blob/main/recipe/meta.yaml#L25

Ping @djhoese

[2022-10-13 12:00] djhoese commented on #2233
Yeah looks like there are two releases on conda-forge that need to be removed then...darn. I'm not sure conda-forge's preferences for removing builds just for version limits. I'll read up on it today hopefully.

[2022-10-13 12:00] djhoese commented on #2233
I also don't know if conda-forge technically supports Python 3.7 anymore.

[2022-10-13 12:01] djhoese commented on #2233
Ah they dropped it 10 days ago:

https://conda-forge.org/docs/user/announcements.html#dropping-python-3-7

I'm guessing that means that the packages will just stop being generated for Python 3.7.

[2022-10-13 13:43] djhoese opened #2234 "Scene `modifiers` keyword argument has no effect"
**Describe the bug**
Originally described on Satpy, doing the following doesn't actually change the loaded bands. You must use a DataQuery to get it to work.

**To Reproduce**

[code]

**Expected behavior**
A modifier is applied to all bands loaded.

**Actual results**
See above.

**Additional context**

After seeing this I thought maybe the data needed to be resampled to work, but that also has n

[2022-10-13 14:26] gerritholl commented on #2226
Digging into this some more, it seems that EPSG 4087 (equirectangular cylindrical projection) isn't supported by the CF Conventions, and therefore, writing a CF conform file with this projection is not possible.  https://cfconventions.org/Data/cf-conventions/cf-conventions-1.10/cf-conventions.html#appendix-grid-mappings

[2022-10-13 14:29] gerritholl commented on #2226
Should the cf writer raise a warning or an exception when the user attempts to write data that cannot be written in a CF-conform way?

[2022-10-13 15:11] gerritholl commented on #2227
The dimensions for Satpy datasets are always `y` and `x` (I think).  The `cf` writer always writes `m` when the dimensions are `y` and `x`:

https://github.com/pytroll/satpy/blob/77f7fc1dd765d914a2c5deba90945a672f1a4080/satpy/writers/cf_writer.py#L686-L696

[2022-10-13 15:23] #2234 closed

[2022-10-13 15:35] djhoese commented on #2233
FYI there is a new build on conda-forge with the correct version limits. I'm still looking into patching the old releases with the bad version limit.

https://github.com/conda-forge/satpy-feedstock/pull/54

[2022-10-13 16:19] djhoese commented on #2233
This PR will patch the necessary metadata if/when it is merged by conda-forge admins: https://github.com/conda-forge/conda-forge-repodata-patches-feedstock/pull/334

[2022-10-18 13:11] strandgren opened #2238 "New helper function for standardized GEO area definitions"
## Feature Request

**Is your feature request related to a problem? Please describe.**
The list of standardized area definitions in `areas.yaml` is growing, with e.g. different resolutions, operating modes and sub-satellite points. Currently 36 standardized area definitions are hard coded in `areas.yaml`, with quite a bit of duplicate information.

This also allows for limited flexibility. A recen

[2022-10-18 15:07] djhoese commented on #2238
As discussed in the meeting today, here are some options that might be good ideas:

1. Auto-generate the YAML file with some utility script. We get the benefit of python for-loops and shared information (ex. extents that are the same between multiple areas) while still having YAML that can be saved in git, linked to on github (for user support/questions), and other tools can use the YAML directly

[2022-10-19 08:02] pnuu commented on #2186
I re-ran my test script with current `main` and with the delayed version, but this time only doing the Scene creation. My parallel version is actually 2 seconds slower (8.6 vs. 6.4) than `main`. And here's the full diff, I noticed that the above snippet didn't have all the changes in it:

[code]

[2022-10-19 10:58] djhoese commented on #2186
In this line:

[code]

`filehandler` is a Delayed object right? Does `.metadata` access cause computation?

[2022-10-20 10:27] pnuu commented on #2186
The file handlers are computed when passed to `filter_fh_by_metadata()`, so not `Delayed` anymore at that stage. The computation is needed also because `Delayed` objects are immutable.

[2022-10-20 10:49] pnuu commented on #2186
Combining the `Delayed` stuff with https://github.com/pytroll/satpy/pull/2237 the `Scene` creation takes 5.9 seconds.

It's a bit surprising that the Scene creation already takes 1.4 GB of memory before any data are loaded. This was already the

Compared to https://github.com/pytroll/satpy/issues/2186#issuecomment-1245002206 the full 19 composite loading/resampling/saving is ~2 seconds faster.

[2022-10-20 12:04] djhoese commented on #2186
And with all of this, do the dask diagnostic graphs look any more multi-threaded during Scene creation?

[2022-10-21 07:48] pnuu commented on #2233
Closing, https://github.com/conda-forge/conda-forge-repodata-patches-feedstock/pull/334 has been merged.

[2022-10-21 07:48] #2233 closed

[2022-10-21 08:41] pnuu commented on #2186
I'm not completely sure about this, but looking at the call chain

https://github.com/pytroll/satpy/blob/96f5b11a093c48fa02e2910290135685f53e7033/satpy/readers/netcdf_utils.py#L110
https://github.com/pytroll/satpy/blob/96f5b11a093c48fa02e2910290135685f53e7033/satpy/readers/netcdf_utils.py#L167
https://github.com/pytroll/satpy/blob/96f5b11a093c48fa02e2910290135685f53e7033/satpy/readers/netcdf_utils

[2022-10-21 11:01] djhoese commented on #2186
You'd have to remove the colon slice in your print statement. That causes netcdf4-python to load the data from the file. That file content value should be a Variable object or a DataArray.

[2022-10-21 11:26] pnuu commented on #2186
Yeah, that's what I was wondering: is the data read already, or when doing the slicing (_whether this is lazy until data[:] or not_).

[2022-10-21 11:54] pnuu commented on #2186
I mean, the memory usage of just creating the Scene is suspiciously high at 1.4 GB, so there must be some data read.

[2022-10-21 15:49] #2227 closed

[2022-10-25 06:16] zxdawn opened #2241 "Slow loading speed of TROPOMI L2 product"
**Describe the bug**

It costs a lot of time when loading variables of TROPOMI L2 product.

**To Reproduce**

[code]

**Expected behavior**

Because the `scn.load()` is lazy loading, the speed should be faster if I understand correctly.

**Actual results**

It costs about 18s.

**Environment Info:**
 - OS: Linux
 - Satpy Version: [e.g. 0.37.1]

[2022-10-25 07:03] mraspaud commented on #2241
@zxdawn thanks for reporting this. We just had a discussion last week about the same issue for FCI, and although the readers are different, there might be common ground for this. Maybe something we could look at during the PCW next month?

[2022-10-25 07:59] #2111 closed

[2022-10-25 10:19] zxdawn commented on #2241
@mraspaud Ha, thanks for the notification. Then, maybe it's related to the nc reader. I will take a look and may give feedback during PCW.

[2022-10-26 08:43] gerritholl opened #2242 "Composites without prerequisites should be always loadable"
## Feature Request

**Is your feature request related to a problem? Please describe.**

Some composites have no prerequisites.  For example, composites with the `StaticImageCompositor` do not read any satellite data.  In principle, there is no reason why I couldn't load those from an empty scene:

[code]

**Describe the solution you'd like**

I would like that composites without prerequisites can

[2022-10-26 09:23] simonrp84 commented on #2242
Releated to this (sort of), I've just discovered that reloading a composite that doesn't require any of the actual data from a sensor also fails:

[code]

Expected result: Prints both statements.

Actual result: Prints `LOADED` and raises this error before reaching second print.
[code]

[2022-10-26 11:52] djhoese commented on #2242
As noted on slack, this is likely a bug. I probably introduced it when I moved composite loading to the `Scene.load` method instead of the `Scene.__init__` creation. That said, I thought we had a test specifically for this case so I'm a little disappointed.

[2022-10-26 13:37] ghiggi opened #2244 "Bug in CFWriter with netcdf4>=1.60 because of changing behaviour of zlib encoding specification"
**Describe the bug**

I just noticed that the new `netcdf4` versions (>1.6.0) does not accept anymore the encoding` "zlib": True`, but expects the field `"compression": "zlib" `.

The `CFWriter` should likely be updated to deal with the `netdf4` package version when defining the compression encoding.

Further info and relevant locations affected in the CFWriter:
- https://github.com/Unidata/netcdf

[2022-10-26 18:59] simonrp84 opened #2245 "`native` resampler fails for some chunk sizes"
**Describe the bug**
When resampling Himawari full disk data with the `native` resampler while using a user-defined chunk size the resampling operation fails. Thisis because the aggregation factor of the native resampler is not being a factor of the chunk size.

**To Reproduce**

[code]

**Expected behavior**
The scene is resampled onto the B13 area.

**Actual results**
An error:

[code]

This is

[2022-10-28 13:58] #2241 closed

[2022-10-30 17:15] avalentino opened #2248 "Test_scene failure on debian sid"
**Describe the bug**
Unitest failure on debian sid.
Failing tests are in `satpy/tests/test_scene.py`.

**To Reproduce**

[code]

**Expected behavior**
All tests pass

**Actual results**

[code]

**Environment Info:**
 - OS: GNU/Linux - Debian Sid x86_64
 - Satpy Version: main (ee3066b0d0a89293796114a8f7023d31cbdd6692)
 - Python: 3.10.8
 - PyResample Version: 1.25.1
 - xarray: 2022.10.0
 - dask: 20

[2022-10-30 18:49] djhoese commented on #2248
I think if you update dask to at least 2022.10.0 the tests should start passing. This was a change in xarray 2022.9.0 that required a fix in xarray (released in xarray 2022.10.0 I think) but also a new dask (released in 2022.10.0).

[2022-10-31 07:35] avalentino commented on #2248
Thanks @djhoese
Indeed we still do not have dask 2022.10.0 in debian.
We will try to update it ASAP.

[2022-10-31 07:57] ceri540 opened #2249 "ahi-hsd raise keyerror when load B08 in dataquery"
#### Code Sample, a minimal, complete, and verifiable piece of code

[code]
#### Problem description
hello, i am processing himawari 8 ahi datasets. I want to process reflectance after removing rayleigh, but i have problem when scn.load(['band 7']) using DataQuery.

#### Expected Output
correctly output all bands reflectance after rayleigh corr process

#### Actual Result, Traceback if applicable

[2022-10-31 08:47] ghiggi commented on #2244
Need to wait for: https://github.com/pydata/xarray/issues/6929 and https://github.com/pydata/xarray/pull/6981

[2022-10-31 08:53] simonrp84 commented on #2249
Band 7 onwards are thermal bands, they cannot have Rayleigh correction applied - that only works (and is only nedessart for) visible wavelengths.

[2022-10-31 09:10] ceri540 commented on #2249
thanks for answer, will it work by pyspectral?

[2022-10-31 11:17] ceri540 commented on #2249
Ok, I have found the answer from another issue, thank you very much

[2022-10-31 11:17] #2249 closed

[2022-10-31 13:43] djhoese commented on #2248
Not sure how much of an option it is, but forcing xarray <2022.9.0 would also work.

[2022-11-02 03:45] yhyxzx opened #2250 "Is reader modis_l1b available?"
`from satpy import Scene
import satpy
print(satpy.available_readers())
filename = "MOD021KM.A2022091.1315.061.2022092021252.hdf"
scene = Scene(filenames=[filename],
                    reader='modis_l1b')`

D:\anaconda3\envs\my_satpy_env\python.exe` "D:\Pycharm workspace\mySSTSR\testMODIS.py"
['abi_l1b', 'abi_l1b_scmi', 'abi_l2_nc', 'acspo', 'agri_l1', 'ahi_hrit', 'ahi_hsd', 'ahi_l1b_gridded_bin',

[2022-11-02 03:48] yhyxzx commented on #2250
My satpy version is 0.37.1

[2022-11-02 04:04] djhoese commented on #2250
If you don't already, try installing the pyhdf package and see if that fixes things. It is an optional dependency for satpy, bit required for MODIS readers.

[2022-11-02 05:17] yhyxzx commented on #2250
The problem has been solved perfectly.Thank you very much!
But how can I get optional dependency information for every reader?
I am a green hand and I haven't seen information about this in _Satpy’s Documentation_.
@djhoese

[2022-11-02 11:49] djhoese commented on #2250
The second note in this installation section:

https://satpy.readthedocs.io/en/stable/install.html#in-an-existing-environment

describes the issue and references the `check_satpy` function:

https://satpy.readthedocs.io/en/stable/quickstart.html#troubleshooting

which will tell you what dependencies might be missing for certain readers. If you installed Satpy from conda-forge then it likely alread

[2022-11-02 13:52] yhyxzx commented on #2250
I see.Thank you again!

[2022-11-02 13:52] #2250 closed

[2022-11-03 10:08] martin-rdz opened #2258 "VIIRS day_microphysics array broadcast error"
**Describe the bug**
Generating the day_microphysics RGB with NOAA-20 VIIRS data fails due to an array broadcast error.

**To Reproduce**

[code]

**Expected behavior**
Successful generation of the day_microphysics RGB

**Actual results**
A value error occurs when calculating the reflectance_from_tbs.

[code]

**Environment Info:**
 - OS: WSL ubuntu 20.04
 - Satpy Version: 0.37.1
 - PyResample Ver

[2022-11-03 10:30] pnuu commented on #2258
The `day_microphysics` composite is defined in `visir.yaml` using wavelengths. With multi-resolution data, this often causes the data to be from a mixture of different resolution variants. The options you have:
- do not set `compute=True` and resample the data
- supply `Scene` only either `IMG` or `MOD` data
- define the composite using channel names (see example for M channels below) in your `$SA

[2022-11-03 10:38] pnuu commented on #2258
And references on adding your own configuration and composites:
- https://satpy.readthedocs.io/en/stable/config.html
- https://satpy.readthedocs.io/en/stable/composites.html#creating-composite-configuration-files

[2022-11-03 13:45] martin-rdz commented on #2258
The definition using the explicit channel names solved the issue.

For the sake of completeness, here my solution for the high resolution composite
[code]
One caveat with the LAADS DAAC data `(reader='viirs_l1b')` is, that the solar zenith angle is named differently and causes
an error:
[code]
Following issue  #1190, this works (also in  `viirs.yaml`):
[code]

Thanks a lot for the quick and helpfu

[2022-11-03 13:46] djhoese commented on #2258
I'm going to reopen this. In my opinion there should be a better error message for this. @pnuu is right that changing what resolutions you provide should get around this issue, but `generate=True` is the default so you didn't do anything wrong in your code. There should have been a more obvious warning telling you to resample the data.

[2022-11-03 13:56] djhoese commented on #2258
I'm able to reproduce this error. Interestingly I don't get this error with VIIRS SDR data, only VIIRS L1B. This suggests it may be a reader issue.

[2022-11-03 14:48] djhoese commented on #2258
I've created https://github.com/pytroll/satpy/pull/2260 to fix some of the issues involved here. I had missed in the #1190 issue that changes to the reader were used. My PR adds those changes which now fix the error you were getting originally @martin-rdz. I think this means it is still doing more processing than necessary (trying to do sunz correction with M band angles on an I band data), but it

[2022-11-07 18:30] lobsiger opened #2263 "VIIRS day composite 'snow_age' does not work with Satpy 0.37.1"
**Describe the bug**
Dear Developers,

we got the first snow 2022 in Switzerland and 'snow_age' doesn't
work anymore ;-). The attached script has a list of all composites
that used to work with day passes (MX-bands only) in Satpy 0.36.0.
These composites still work in Satpy 0.37.1 except for 'snow_age'.

Attached two 'snow_age' images made with Satpy 0.36.0 and a short
script to reproduce the Satp

[2022-11-07 18:59] djhoese commented on #2263
This doesn't seem to be a Satpy issue, but rather pillow or dask. Both of these libraries had releases at the end of October. I was unable to reproduce with `main` branch versions of satpy, pyresample, and trollimage and previous versions of dask and pillow. I will try updating dask and pillow and see what I get.

[2022-11-07 19:09] djhoese commented on #2263
@lobsiger how did you install Satpy and its dependencies? All conda from conda-forge? Any pip installed packages?

I'm unable to reproduce this on a PopOS (think Ubuntu) with Python 3.10, newest dask and xarray, and the latest pillow I could get. Pillow 9.3.0 is the newest version but not currently available on conda-forge so I am using pillow 9.2.0.

[2022-11-07 19:46] lobsiger commented on #2263
@djhoese this is all conda in GNU/Linux IIRC and I have a brand new (yesterday) install under Windows 10 all conda (list attached).
[windows.conda.list.txt](https://github.com/pytroll/satpy/files/9954929/windows.conda.list.txt)

[2022-11-08 17:19] lobsiger commented on #2263
@djhoese and @mraspaud I downgraded pillow and dask one version under GNU/Linux to no avail. I updated again to the latest. Then I downgraded my brand new Windows 10 install with "conda  install satpy=0.36.0". Now VIIRS 'snow_age' worked again. I did the same downgrade under GNU/Linux "conda install satpy=0.36.0" and VIIRS 'snow_age' works again. I attach the latest package lists. The conda packag

[2022-11-08 17:30] djhoese commented on #2263
Thanks for trying some things out. I'm still not sure what is going on, but I thought to get the most help from others we should probably post the error message directly in the github issue:

[code]

Looking at what is being called and complained about here, I see `fromarray` at the bottom. I'm 99% sure that is coming from here:

https://github.com/pytroll/trollimage/blob/c0a30db0895cf6c6c9b63eb0d

[2022-11-08 19:34] lobsiger commented on #2263
@djhoese if I upgrade GNU/Linux again and make a diff of what is installed I get just this:

(pytroll) eumetcast@kallisto:~$ diff Linux-downgraded-conda-list.txt Linux-upgraded-conda-list.txt
165c165
< satpy                     0.36.0             pyhd8ed1ab_0    conda-forge
---

With Satpy 0.37.1 I can do all the DAY composites that I mentioned in my test script except 'snow_age'.
I have not seen

[2022-11-08 21:03] lobsiger commented on #2263
@djhoese maybe it helps seeing the error messages of someone else.

https://groups.io/g/MSG-1/message/33545

[2022-11-09 10:29] lobsiger commented on #2263
@djhoese @mraspaud I made an all new latest miniconda install with python 3.10 under GNU/Linux and tested 112 composites of different satellites with satpy 0.37.1. It's still VIIRS 'snow_age' that does not work ...

[Linux-latest-miniconda-112-composites.txt](https://github.com/pytroll/satpy/files/9969919/Linux-latest-miniconda-112-composites.txt)
[Linux-latest-miniconda-DEBUG-snow_age.txt](https:

[2022-11-09 11:44] lobsiger commented on #2263
@djhoese @mraspaud I slightly remembered that we had an issue with MetopC when satpy 0.37.0 was introduced. This lead to satpy 0.37.1. It seems we had the same kind of error message before ... so I think the VIIRS problem is related. See here:

https://github.com/pytroll/satpy/issues/2173

[2022-11-09 13:13] djhoese commented on #2263
That's a good guess. It still doesn't explain why I'm not seeing the issue, but I'll try to find time to play around with it today. Looking into the enhancements like in the MetopC issue is a good start.

[2022-11-09 14:11] djhoese commented on #2263
Figured it out! This was fixed in https://github.com/pytroll/satpy/pull/2190, but it hasn't been released yet. We hope to make a release this week. You could test this in your environment by doing:

[code]

[2022-11-09 14:35] lobsiger commented on #2263
This was quick. It's from my bad experience that I shouldn't mix pip and conda installs. I'll rather wait, thanks a lot for your time.

[2022-11-09 14:36] djhoese commented on #2263
I won't disagree with that. I'll leave this issue open until we make the release.

CC @mraspaud

[2022-11-09 14:45] mraspaud commented on #2263
Nice catch guys! well done. I'll start preparing a release...

[2022-11-09 15:22] djhoese opened #2264 "Can't load static image composite multiple times"
Releated to this (sort of), I've just discovered that reloading a composite that doesn't require any of the actual data from a sensor also fails:

[code]

Expected result: Prints both statements.

Actual result: Prints `LOADED` and raises this error before reaching second print.
[code]

_Originally posted by @simonrp84 in https://github.com/pytroll/satpy/issues/2242#issuecomment-1291751939_

[2022-11-09 21:51] simonrp84 opened #2266 "AGRI data fails with `native` resampling`"
**Describe the bug**
The `native` resampler no longer works for AGRI data if the `reduce_data=True` option (default) is passed to the resampler.

**To Reproduce**

[code]

**Expected behavior**
The scene is correctly resampled.

**Actual results**
[code]
The error is fixed with `reduce_data=False`

[2022-11-09 21:58] djhoese commented on #2266
All AGRI cases or one specific one? What are the shapes of every area and every DataArray data going into this?

[2022-11-10 09:11] gerritholl opened #2267 "Scene.save_datasets with GeoTIFF writes valid (but black) output file despite compute=False — is this expected?"
I'm not sure if this is a bug or if this behaviour is expected.

**Describe the bug**

When I call `Scene.save_datasets(..., compute=False)` with the GeoTIFF writer, Satpy still writes a valid output file.

**To Reproduce**

[code]

**Expected behavior**

I expect no valid output file, because I passed `compute=False`.

**Actual results**

Satpy produces an output file `/tmp/test.tif`:

[code]

[c

[2022-11-10 15:39] djhoese commented on #2267
With the current implementation, this is expected. This could change when we switch to rioxarray. As a short explanation, we are limited by what geotiff/GDAL/rasterio is able to do. To get around some of these limitations we currently create a file with the basic metadata during call time, but don't write image data until dask computation time where we are able to write chunks in parallel as long

[2022-11-11 07:51] #2208 closed

[2022-11-11 09:14] strandgren opened #2269 "Occasional errors when closing FCI L2 NetCDF file"
**Describe the bug**
The FCI L2 netcdf reader occasionally fails because it does not sufficiently suppress relevant errors when trying to close the file during routine operations/reading.

**Expected behavior**
The reader will close the file if still open.

**Actual results**
Occasionally the reader tries to close a file that is already closed, leading to an error.

**Additional context**
To be fi

[2022-11-11 09:35] strandgren opened #2270 "Missing SEVIRI service mode for new IODC sub-satellite longitude of MET09"
**Describe the bug**
The new service mode of MET09 (IODC at 45.5 degrees East) is not included in https://github.com/pytroll/satpy/blob/df8ddd1897703cc466bfaab109c58c003e120f68/satpy/readers/eum_base.py#L89 leading to errors when reading SEVIRI L2 bufr data with area definition (`reader_kwargs={'with_area_definition': True}`)

**To Reproduce**

[code]

**Expected behavior**
Successfully load the d

[2022-11-14 07:39] ameraner opened #2273 "Add support for HRFI imagery in the FCI L1c reader"
## Feature Request

The current reader is able to read only FDHSI (normal resolution) data. It would be great to expand it to read also high-resolution HRFI data, which will be disseminated via EUMETCast Terrestrial and the Data Store.

**Describe the solution you'd like**
Expand the `fci_l1c_nc` reader to accept HRFI data.

**Describe any changes to existing user workflow**
No changes, just expan

[2022-11-14 07:47] gerritholl commented on #2273
Is there any test data for this?

[2022-11-14 07:51] ameraner commented on #2273
We have test data coming from the EUM-internal ground processor tests. Unfortunately it's not public, but I will try to ask if it's possible to share a sample for this Pytroll development...

[2022-11-14 10:04] gerritholl commented on #1844
A P-mode image could also retain units information; there is no reason why this should be removed for something like a colorised cloud top height.  This would require that `ColormapCompositor` no longer derives from `GenericCompositor`.  Changing the base class for `ColormapCompositor` might affect existing user workflow in unexpected ways.

[2022-11-14 10:23] gerritholl commented on #1844
Or maybe the whole sets of composites such as `cloudtype` should be arranged as `SingleBandCompositors`, and applying the colours should be done in a colorization enhancement.  Trollimage already supports producing a P-mode images from a colorization enhancement.

[2022-11-14 12:58] gerritholl commented on #1844
Summary of a discussion between @mraspaud and myself: I'll work on a `PModeCompositor` that will add a `palette` that the palettizer can understand.

[2022-11-16 15:16] yhyxzx opened #2383 "Why?Fill value incompatible with integer data using 65535 instead."

[2022-11-18 10:15] TAlonglong opened #2286 "satpy_cf_nc reader to support variables with same name but different attributes"
## Feature Request

I have stored from VIIRS SDR these data in 3 different netcdf file with the satpy_cf_ns writer. On file for each Iband, Mband and DNB.
When creating composites with data from one of these files it works fine. However if I need composites with data from two or more files I get problems.

It turns out the satpy_cf_nc reader only uses the variable name to confirm the usage. This c

[2022-11-18 10:25] mraspaud commented on #499
This has been implemented since then.

[2022-11-18 10:25] #499 closed

[2022-11-18 10:26] mraspaud commented on #370
This has been implemented.

[2022-11-18 10:26] #370 closed

[2022-11-18 10:28] strandgren opened #2288 "Add support for reducing Rayleigh correction at large solar zenith angles"
## Feature Request

When applying Rayleigh correction using pyspectral, there is a build in function for reducing the correction as large solar zenith angles because the RTM/correction breaks down. See
- https://github.com/pytroll/pyspectral/blob/main/pyspectral/rayleigh.py#L287
- https://github.com/pytroll/pyspectral/pull/141.

There is, however, no interface to this Rayleigh correction reduction

[2022-11-18 15:43] djhoese commented on #2286
I'm curious what @mraspaud thinks of this. I thought maybe @TAlonglong could make a DataID from the `data_arr.attrs`, but then he'd need the `id_keys`, but those are in a hidden parameter on the DataID provided to `get_dataset` and are otherwise not available to the file handler.

So then I thought we could just do `data_id == data_arr.attrs`, but it doesn't look like that handles non-DataIDs. So

[2022-11-18 21:40] nickdndndn opened #2289 "Resampling from MSG Satellite projection to Dutch weather radar projection, area_extent missing"
**Short Description**
I want to reproject my MSG satellite data to the Dutch weather radar projection so I end up with an array of (765,700) that matches the weather radar data grid, but area_extent is missing.

**Projections**
My MSG satellite data has this projection:

[code]

And my target Dutch weather radar has that projection: ! area extent is not known
[code]

**area_extent**
I have tried e

[2022-11-18 22:56] mraspaud commented on #2289
I'm not in front of computer right now, but here are a couple of things you could try
- set a and b to mètres in the stere projection
- plot the created area with cartopy and show coastline to see how fat off you are
- lat0 set to something else than 90, although I suppose you got that from the radar projection, so it should work....

[2022-11-21 02:38] djhoese commented on #2266
@simonrp84 in addition to my above questions, does this fail for all AGRI data cases? FY4A and FY4B?

[2022-11-21 02:44] djhoese commented on #2264
This is actually worse than we originally thought. Any static composite doesn't allow you to load anything afterward:

[code]

[2022-11-21 03:31] djhoese commented on #2242
@gerritholl Do you have any idea if this loading of a static composite from an empty Scene used to work? I can't think of a reason why it would have. The issue is that the Scene (at least in the current implementation) doesn't have any sensors configured and doesn't have a way for the user to specify what sensors their interested in without loading data from a reader or setting a `DataArray` to th

[2022-11-21 12:42] #2289 closed

[2022-11-21 12:43] simonrp84 commented on #2266
While making my FY-4B PR, I noticed that the COFF/LOFF and CFAC/LFAC values provided for AGRI appear to be incorrect - the per-channel area extents are subtly different and I believe that's what's causing this problem.

I've asked the CMA for their opinion and it's probably not worth diagnosing the issue further right now until we hear back from them.

[2022-11-21 21:01] #2245 closed

[2022-11-21 21:03] #2264 closed

[2022-11-23 14:30] pnuu opened #2296 "Do not collect references/values in `NetCDF4FileHandler.__init__()`"
## Feature Request
Currently the `NetCDF4FileHandler` uses two dictionaries to collect stuff in:
* `file_content` for storing **references** to groups, variables and attributes
* `cached_file_content` to store variable and attribute **values**

These dictionaries are filled when file handlers are created via `scn = Scene(...)`, and in some cases (for example https://github.com/pytroll/satpy/pull/2

[2022-11-24 14:07] yhyxzx opened #2298 "There is a bug in 'find_files_and_readers(reader='modis_l2)''"
**Describe the bug**
It didn't work as a filter.

**To Reproduce**

[code]

**Expected behavior**
The correct result is {'modis_l2': ['F:/yydata/MODIS\\MOD35_L2.A2022113.0325.061.2022113133154.hdf', 'F:/yydata/MODIS\\MOD03.A2022280.0145.061.2022280064847.hdf']}

**Actual results**
{'modis_l2': ['F:/yydata/MODIS\\MOD35_L2.A2022113.0325.061.2022113133154.hdf', 'F:/yydata/MODIS\\MOD35_L2.A2022056.015

[2022-11-24 15:07] djhoese commented on #2298
I'm not sure on the cause for this yet, but I'm not sure why your expected output should include the `2022113` file? The date you entered as a julian year/day would be 2022280.

[2022-11-24 15:14] djhoese commented on #2298
Ok so the problem is that the filtering is done based on `start_time` from the filename pattern. However, this filename format isn't configured with a `start_time` but instead names it `acquisition_time`. Changing the YAML should be simple enough and could likely mean cleaning up some of the code like this:

https://github.com/pytroll/satpy/blob/6dfb9b9353fa64e91a1f7553783abd859042da56/satpy/reade

[2022-11-24 15:18] yhyxzx commented on #2298
Yes，you are right!

[2022-11-24 15:29] djhoese commented on #2298
I don't have time to fix this myself so if you @yhyxzx or anyone else has time it would be appreciated.

[2022-11-24 15:37] yhyxzx commented on #2298
I am a new hand. Although I really want to participate, it seems that I am not competent enough to understand your meaning.

[2022-11-24 16:13] djhoese commented on #2298
The first task is to make a pull request where the below YAML file is modified:

https://github.com/pytroll/satpy/blob/6dfb9b9353fa64e91a1f7553783abd859042da56/satpy/etc/readers/modis_l2.yaml#L14

Anywhere it says `acquisition_time` it should be replaced with `start_time`. If you can figure out how to do that (will require knowledge of git) then that should fix the issue.

[2022-11-26 03:08] yhyxzx commented on #2298
reader='modis_l1b' has the same bug. @djhoese

[2022-11-26 13:17] djhoese commented on #2298
We'll close this when #2299 is merged. Reopening for now.

[2022-11-27 08:36] avalentino commented on #2248
I can confirm that updating dask to v2022.11.1 seems to fix these specific errors.

[2022-11-27 16:12] #2248 closed

[2022-11-28 16:19] gerritholl opened #2300 "to_image changes image mode"
**Describe the bug**

Calling `to_image` changes a dataset with mode P to one with mode L.

**To Reproduce**

[code]

**Expected behavior**

Expected output:

[code]

**Actual results**

Actual output:

[code]

**Environment Info:**
 - OS: openSUSE Leap 13.0
 - Satpy Version: v0.38.0-65-g6dfb9b93

**Additional context**

This happens due to the `.squeeze()` call in `satpy.writers.to_image`:

https

[2022-11-28 16:40] djhoese commented on #2300
Wow nice catch! This looks like it was added in https://github.com/pytroll/satpy/pull/83 in one of the first PRs adding dask/xarray support to Satpy.

I don't think we need the squeeze. Maybe try removing it and if tests pass then :+1:

CC @mraspaud who originally added the code.

[2022-11-29 20:36] djhoese opened #2303 "AGRI L1 files have byte array metadata values"
**Describe the bug**

While debugging something with AGRI (https://github.com/ssec/polar2grid/issues/565) I noticed that the `long_name` is sometimes of type `bytes`.

**To Reproduce**

[code]

**Expected behavior**

All metadata strings should be strings not bytes.

**Actual results**
Long name is bytes.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Environment

[2022-11-29 20:37] djhoese commented on #2303
I should have noted this caused an exception when trying to plot with xarray/matplotlib where it tried to use the long_name as the title but expected a `str`.

[code]